/* -------------------------------------------------------------------------------------------------
  # Bookly
------------------------------------------------------------------------------------------------- */
.bookly-form {
    background-color: $white;
    margin-top: 15px;

    section[style*="background"] & {
        background: none;

        .ab-booking-form,
        .ab-progress-bar .ab-step-tabs a {
            color: $white !important;
        }

        .ab-progress-bar .ab-step-tabs .step {
            background: $white;
        }

        .ab-formGroup .ab-formField .ab-formElement,
        .intl-tel-input .country-list .country-name {
            color: $black;
        }
    }
}
