/* -------------------------------------------------------------------------------------------------
  # Elastic CSS
------------------------------------------------------------------------------------------------- */
.tath-contract {
    display: none;
    cursor: pointer;
}

.tath-expand {
    display: block;
    cursor: pointer;
}
