/* -------------------------------------------------------------------------------------------------
  # Owl Carousel Owl Demo Theme
------------------------------------------------------------------------------------------------- */

.owl-theme .owl-controls {
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #fff;
    display: inline-block;
    zoom: 1;
    *display: inline; /*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /*background: #869791;*/
    filter: Alpha(Opacity=50); /*IE7 fix*/
    /* opacity: 0.5; */
    height: 100%;
    width: 44px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100); /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline; /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50); /*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100); /*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

/* My Style */

.owl-controls {
    margin: 0 auto;
}

.owl-buttons .icon-control {
    display: block;
    z-index: 30;
    width: 29px;
    height: 85px;
    background: url(../img/sprite.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -42px;
}

.owl-buttons .owl-prev,
.owl-buttons .owl-next {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
}

.owl-buttons .owl-next {
    right: 0;
    left: auto;
}

.owl-buttons .icon-control.icon-chevron-left {
    background-position: -60px 0
}

.owl-buttons .icon-control.icon-chevron-right {
    background-position: -90px 0
}

.owl-buttons .owl-prev:hover .icon-control.icon-chevron-left {
    background-position: 0 0
}

.owl-buttons .owl-next:hover .icon-control.icon-chevron-right {
    background-position: -30px 0
}

.owl-pagination {
    margin-top: -48px
}

.owl-theme .owl-controls .owl-pagination .owl-page span {
    background: #fff;
    opacity: 1;
    position: relative;
    z-index: 1000
}

.owl-theme .owl-controls .owl-pagination .owl-page.active span {
    background: #c00;
}

.owl-buttons {
    width: 1000px;
}
