/* -------------------------------------------------------------------------------------------------
  # 60-Day Introduction
------------------------------------------------------------------------------------------------- */
// Introduction
// --------------------------------------------------------------
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    @include breakpoint(medium) {
        min-height: 400px;
    }
}

.introduction_title {
    @extend .page-title;
    text-transform: uppercase;
}

// Call to Action
// --------------------------------------------------------------
.call-to-action {
    padding: 40px 0;
}

.call-to-action_title {
    font-size: 22px;
    text-align: center;
}

.tathata-list {
    padding: 30px 0 0;
    list-style: none;

    li {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 400;

        &::before {
            content: "";
            background: url(../img/logo/tathata-symbol.png) center center/contain no-repeat;
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    }
}

.tathata-list + .tg-primary {
    @include breakpoint (medium) {
        width: 50%;
    }
}
