/* -------------------------------------------------------------------------------------------------
  # 60 Day Program
------------------------------------------------------------------------------------------------- */
$gold: rgb(255, 179, 0);
$green: rgb(15, 184, 15);

@mixin maintain-ratio($ratio: 1 1) {
    @if length($ratio) < 2 or length($ratio) > 2 {
        @warn "$ratio must be a list with two values.";
    }

    $width: 100%;
    $height: percentage(nth($ratio, 2) / nth($ratio, 1));
    width: $width;
    height: 0;
    padding-bottom: $height;
}

#gtwrapper {
    img {
        max-width: 100%;
        height: auto;
        overflow-x: hidden;
        border: 0;
    }

    iframe {
        max-width: 100%;
        overflow-x: hidden;
    }

    p,
    li {
        font-size: 16px;
        font-weight: 300;
        font-family: $font;
    }

    .toast {
        background: url(../img/gtimages/light_toast.png) repeat;
    }

    .darkbar {
        background: $black;
        color: $white;
        padding: 40px 0;

        h1 {
            color: $white;
        }

        h3 {
            color: $red;
        }

        a {
            color: $red;

            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }

    .redbar {
        background: $tathata-red;
        color: $black;
        padding: 40px 0;

        h1 {
            color: $white;
        }

        h3 {
            color: $black;
        }

        a {
            color: $black;

            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }

    .red {
        color: $tathata-red;
    }

    // Basic Formatting
    // --------------------------------------------------------------

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
        font-weight: 400;

        a {
            color: $tathata-red;

            &:hover {
                color: $red;
            }
        }
    }

    h1 {
        padding: 10px 0;
        font: 1.5em $font;
        font-weight: 300;
        text-transform: capitalize;
    }

    h2 {
        padding: 5px 0 15px;
        text-transform: capitalize;
    }

    h3 {
        font: 1em $font;
        font-weight: 400;
        text-transform: capitalize;
        padding: 10px 0 25px;
    }

    p,
    ul,
    ol {
        margin: 0;
        padding: 0 0 18px;
        font-family: $font;
    }

    ul,
    ol {
        list-style: none;
        padding: 0 0 18px 40px;
    }

    article ul,
    article ol {
        margin: 0 0 10px 10px;
    }

    article ul li {
        list-style: square;
        margin: 0 0 5px 5px;
        padding-left: 5px;
    }
    article ol li {
        list-style: decimal;
        margin: 0 0 5px 5px;
        padding-left: 5px;
    }

    [class*="block-grid-"] > li { //fix margins on block grids inside of articles
        margin: 0;
    }

    [class*="block-grid-"] {
        margin: 0;
    }

    blockquote {
        margin: 22px 0;
        padding: 0;
        border: 0;
    }

    cite {
        color: $dark-red;
        font-weight: 900;
        font-size: 14px;
        font-family: $font;
        font-style: italic;
        text-transform: uppercase;
    }

    small {
        font-size: 0.85em;
    }

    sup {
        position: relative;
        bottom: 0.3em;
        vertical-align: baseline;
    }

    sub {
        position: relative;
        bottom: -0.2em;
        vertical-align: baseline;
    }

    acronym,
    abbr {
        cursor: help;
        letter-spacing: 1px;
        border-bottom: 1px dashed;
    }

    // Links
    // --------------------------------------------------------------
    a,
    a:visited {
        text-decoration: none;
    }

    // Forms
    // --------------------------------------------------------------
    form {
        padding: 0;
        display: inline;
    }

    input,
    select,
    textarea {
        font: 1em $font;
        color: black;
    }

    textarea {
        line-height: 1.25;
    }

    label {
        cursor: pointer;
    }

    // Tables
    // --------------------------------------------------------------
    table {
        border: 0;
        margin: 0 0 18px;
        padding: 0;
    }

    table tr td {
        padding: 2px;
    }

    // Utilities
    // --------------------------------------------------------------
    .clear {
        clear: both;
    }

    .clearfix::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .clearfix {
        display: block;
        height: 1%;
    }

    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }

    .img-left,
    .align-left {
        float: left;
        margin: 4px 10px 4px 0;
    }
    .img-right,
    .align-right {
        float: right;
        margin: 4px 0 4px 10px;
    }

    /* --------------------------------------------------------------
      ## Header
    -------------------------------------------------------------- */
    header {
        margin: 0 0 25px;
        padding: 25px;
        background: black;
        border-bottom: 5px solid $light-gray;

        .affiliaterow {
            position: relative;
            display: block;
            min-height: 120px;
            max-height: 250px;

            .columns {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            .affiliatelogo {
                position: relative;
                left: 90%;
                padding: 10px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        header .affiliaterow {
            position: relative;
            height: auto;

            .columns {
                position: relative;
                top: auto;
                transform: none;
            }

            .affiliatelogo {
                left: auto;
            }
        }
    }

    .header60day {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }
    }

    @media screen and (min-width: 768px) {
        .header60day.desktop {
            display: block;
        }

        .header60day.mobile {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        .header60day.desktop {
            display: none;
        }

        .header60day.mobile {
            display: block;
        }
    }

    /* --------------------------------------------------------------
      ## Home
    -------------------------------------------------------------- */
    .big-video {
        margin: 20px auto 40px;
    }

    .home .inside-the-program {
        margin-bottom: 0 !important;
    }

    .home-top {
        background: rgb(221, 203, 183) url(../img/gtimages/new-meditation2.jpg) no-repeat center;
        background-size: cover;
        margin-top: -25px;
        padding-top: 35px;

        h1 {
            color: rgb(17, 17, 17);
            font-weight: 500;

            & span {
                color: $red;
                background: rgba(255, 230, 0, 0.78);
                font-weight: 500;
                padding: 0 8px;
            }
        }
    }

    .home-top.versionb {
        background: none;

        h1 span {
            color: $red;
            background: none;
        }
    }

    .video-container {
        margin: 60px auto;
    }

    .mobile-header {
        width: 100%;
        background: black;
        color: white;
        text-align: left;
        padding: 8px 10px;
    }

    .video-container-2,
    .video-container-3,
    .video-container-4 {
        display: none;

        @media screen and (max-width: 40em) { display: block; }
    }

    /* --------------------------------------------------------------
      ## As Seen on TV
    -------------------------------------------------------------- */
    .as-seen-on {
        background: url(../img/gtimages/light_toast.png) left top repeat;
        border-top: 40px solid rgb(16, 16, 16);

        p {
            font: 28px $font;
            font-weight: 100;
            padding: 8px 0;
            vertical-align: middle;
            text-align: center;

            img {
                margin: 10px auto;

                @include breakpoint(small) {
                    padding-left: 10px;
                    display: inline;
                    margin: 0;
                }
            }
        }
    }

    .promo_intro {
        background: rgb(243, 243, 243);
        padding: 30px 0 10px;
        text-align: center;

        .affiliatelogo {
            max-width: 100%;
            height: auto;
        }

        p {
            text-align: center;
            font-size: 16px;
            padding: 10px 10px 20px;
        }

        input {
            height: 2.25em !important;
            border-radius: 5px;
        }

        input[type="submit"] {
            padding: 0;

            @media screen and (max-width: 992px) { margin-top: 10px; }

            &:hover {
                background: lighten($light-green, 5%);
                border: 2px solid lighten($light-green, 5%);
            }
        }
    }

    /* --------------------------------------------------------------
      ## Video Selection
    -------------------------------------------------------------- */
    .video-selection {
        background: rgb(243, 243, 243);
        padding: 30px 0 10px;
        position: relative;
        display: block;

        .videobreak {
            background: $black;
            color: $white;
            font-family: $font;
            text-align: center;
            padding: 20px 5px;
            margin: -30px 0 30px;
        }

        .-screenshot {
            height: 150px;

            .ms-play {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: $white;
                transition: all 0.3s ease;

                &:hover {
                    background: rgba($black, 0.4);
                }

                i {
                    font-size: 2.75em;
                    transition: all 0.3s ease;
                    color: $white;
                }
            }
        }
    }

    /* --------------------------------------------------------------
      ## Call to Action
    -------------------------------------------------------------- */
    .cta,
    .email-signup {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        color: $white;
        height: initial;

        .email-signup_bgimage1 {
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/meditation2.jpg) center center no-repeat;
            background-size: cover;
            position: absolute;
        }

        .email-signup_bgimage2 {
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/gate1.jpg) center center no-repeat;
            background-size: cover;
            position: absolute;
        }

        .container {
            padding: 60px 10px;

            @media screen and (min-width: 992px) { padding: 100px 10px; }
        }

        p {
            color: white;
            font: 1.125em $font;
            font-weight: 300;

            span {
                color: $red;
            }
        }

        .cta_headline {
            padding-top: 50px;
        }

        h1,
        h2,
        h3,
        h4 {
            color: $red;
            font: 2em $font;
            font-weight: 300;

            span {
                color: $red;
            }
        }
    }

    .email-signup {
        h3 {
            font-size: 2.25em;
        }

        @media screen and (max-width: 992px) {
            h3,
            p {
                text-align: center;
            }
        }
    }

    .dvd-addon {
        text-align: center !important;
        font-size: 16px !important;
        padding: 0;
        margin-top: 10px;
        display: block;

        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;
            color: $tathata-red;
            background: rgb(238, 238, 238);
            border-radius: 5px;
            transition: all 0.2s ease-in;
        }

        a:hover {
            background: $green;
            color: $white;
        }
    }

    /* --------------------------------------------------------------
      ## Alternate Colors
    -------------------------------------------------------------- */
    .alt-color .cta {
        background: $white;
        padding: 25px 0;

        p {
            color: $black;
            font: 1.5em $font;
            font-weight: 300;

            span {
                color: $red;
            }
        }

        .cta_headline {
            padding-top: 50px;
        }

        h1,
        h2,
        h3,
        h4 {
            color: $red;
            font: 1.765em $font;
            font-weight: 300;
        }
    }

    /* --------------------------------------------------------------
      ## Redbox
    -------------------------------------------------------------- */
    .redBoxContent {
        background: $gold;
        padding: 15px;
        margin-top: 35px;

        .wootitle {
            font-size: 17px !important;
            color: $black !important;
            font-weight: 400;
        }

        .woobottom {
            margin: 0;
            padding: 0;
            line-height: 17px;

            .fa {
                font-size: 28px;
                position: relative;
                top: -5px;
                right: -20px;
            }

            a {
                text-align: initial;
            }
        }
    }

    .redBoxContent .woocommerce {
        p {
            font-size: 14px;
            color: $black;
            font-weight: 600;
            text-align: center;
        }

        .star-rating {
            display: inline-block;
            overflow: hidden;
            line-height: 21px;
            height: 21px;
            float: left;
            font-size: 16px;
            width: 5.4em;
            font-family: star;
            margin-bottom: 10px;
        }

        .count {
            display: inline-block;
            margin-left: 5px;
            line-height: 21px;
            height: 21px;
            color: $white;
            margin-bottom: 10px;
        }

        .price {
            color: $black !important;
            font-size: 16px;
            text-align: center;
            margin: 10px auto;
            float: none;
        }

        .greyLinkBtn {
            background: rgb(15, 184, 15) right center;
            padding: 9px 40px 7px 10px !important;
            border-radius: 5px;
            color: $white;
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 20px;
            border: none !important;
            margin: 0 auto 10px;
            float: none;
            transition: all 0.2s ease-in;

            &:hover {
                background: $white;
                text-decoration: none;
                color: rgb(17, 17, 17);
            }

            .fa {
                display: inline-block;
                float: right;
            }
        }
    }

    .amount {
        color: $white !important;
    }

    .additional_benefitsBTN {
        background: $dark-red !important;

        &:hover {
            background: rgb(204, 204, 204) !important;
            color: rgb(17, 17, 17);
        }
    }

    /* --------------------------------------------------------------
      ## Product Buy
    -------------------------------------------------------------- */
    .product-buy {
        margin: 50px 0;

        h1 {
            font-size: 32px;
        }
    }

    /* --------------------------------------------------------------
      ## 7 Day Trial CTA
    -------------------------------------------------------------- */
    .sevenday_trial_cta {
        background: $black;
        padding: 25px 0;

        .bigButton {
            background: $green;
            border-radius: 10px;
            padding: 10px;
            display: block;
            text-align: center;

            h4 {
                padding: 5px 0 10px;
            }

            &:hover {
                background: $white;

                p {
                    color: $red;
                }

                h4 {
                    color: $black;
                }
            }
        }

        p {
            color: white;
            font: 1em $font;
            font-weight: 500;

            span {
                color: $red;
            }
        }

        .cta_headline {
            padding-top: 50px;
        }

        h1,
        h2,
        h3,
        h4 {
            color: $white;
            font: 1.765em $font;
            line-height: 1.1em;
            font-weight: 300;
        }
    }

    .CompleteTraining {
        p,
        li {
            font-size: 16px;
            font-family: $font;
            font-weight: 300;
        }

        .greyLinkBtn {
            background: right center;
            padding: 10px 20px !important;
            width: 80%;
            float: none;
            border-radius: 5px;
            color: $white;
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 20px;
            border: none !important;
            margin: 20px 0;
            transition: all 0.2s ease-in;

            &:hover {
                background: $white;
                color: rgb(17, 17, 17);
            }
        }
    }

    /* --------------------------------------------------------------
      ## Movement Training Section
    -------------------------------------------------------------- */
    .movement-training {
        background: url(../img/gtimages/mt-bg.jpg) center -203px no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 1070px;
        padding: 605px 0 40px !important;

        .meditate-title {
            font-size: 37px;
        }

        h3 {
            font: 26px $font;
            color: $red;
            font-weight: 100;
        }

        .movement-list ul {
            padding: 0;
            margin: 20px 0 0 15px;

            li {
                list-style: disc;
                padding-bottom: 24px;
            }
        }
    }

    .threecolgrids h5 {
        margin: 10px 0;
        text-align: center;
        font-size: 18px;
    }

    /* --------------------------------------------------------------
      ## Mental Training Section
    -------------------------------------------------------------- */
    .mental-training {
        background: $dark-red url(../img/gtimages/mental-training.jpg) right center no-repeat;
        min-height: 750px;
        padding: 110px 0;

        h1 {
            font: 48px $font;
            font-weight: 100;
            color: white;
        }

        h3 {
            font: 25px $font;
            font-weight: 100;
            color: rgb(255, 183, 0);
        }

        ul {
            padding: 0;
            margin: 0 0 0 15px;

            li {
                color: white;
                list-style: disc;
                padding-bottom: 25px;
                font-size: 16px;
            }
        }
    }

    /* --------------------------------------------------------------
      ## Image Grids
    -------------------------------------------------------------- */
    .gridintro {
        padding: 50px auto;
        margin: 0 auto 80px;

        h1 {
            font-size: 40px;
            font-family: $font;
            padding: 25px 0;
        }
    }

    .gridcontent {
        padding: 50px 0;

        ul {
            margin: 0;
            padding: 0;
            list-style: square;

            li {
                font-size: 21px;
                padding: 0;
                margin: 0 0 35px 10px;
                font-family: $font;
                font-weight: 100;
            }
        }
    }

    /* --------------------------------------------------------------
      ## Whats Inside
    -------------------------------------------------------------- */
    .inside-the-program {
        background: $dark-red;
        padding: 30px 0;
        margin: 40px 0 0;

        p {
            color: white;

            @media screen and (max-width: 768px) { margin-top: 20px; }
        }

        h1,
        h2,
        h3,
        h4 {
            color: white;
        }

        h1 {
            padding: 10px 0;
            font: 32px $font;
            font-weight: 100;
            text-transform: capitalize;
        }

        ul {
            margin: 0;
            padding: 0 0 0 10px;

            li {
                margin: 0;
                list-style: none;
                color: $white;
                font-size: 16px;

                @media only screen and (max-width: 414px) and (orientation: portrait) {
                    font-size: 12px;
                }

                .fa {
                    color: $gold;
                    padding-right: 10px;
                }
            }
        }
    }

    /* --------------------------------------------------------------
      ## Message From
    -------------------------------------------------------------- */
    .message-from {
        padding-top: 30px;

        .medium-10 h1 {
            padding-bottom: 40px;
        }
    }

    /* --------------------------------------------------------------
      ## Testimonials
    -------------------------------------------------------------- */
    .testimonials {
        padding: 50px 0;

        .single {
            margin-bottom: 50px;

            img {
                margin-top: 10px;
                border-radius: 50%;
            }
        }
    }

    /* --------------------------------------------------------------
      ## Highlighted Text
    -------------------------------------------------------------- */
    .image-row {
        text-align: center;
    }

    .highlight {
        padding: 10px;
        text-align: center;

        .highlight-text {
            font-size: 1.25em;
            font-weight: 700;
            color: $dark-red;
        }
    }

    /* --------------------------------------------------------------
      ## Words with Gary
    -------------------------------------------------------------- */
    .twovideos {
        padding: 0 0 40px;

        h1.title {
            font-size: 1.25em !important;
        }

        @media screen and (min-width: 992px) {
            padding: 40px 0;

            h1.title {
                font-size: 1.5em !important;
            }
        }
    }

    /* --------------------------------------------------------------
      ## Fun Easy Section
    -------------------------------------------------------------- */
    .fun-easy-convienent {
        background: $black url(../img/Tathata-Home-Horizontal.png) right center no-repeat;
        color: $white;
        padding: 40px 0;

        .greyLinkBtn {
            padding: 10px 20px !important;
            min-width: 50%;
            color: $white;
            line-height: 20px;
            margin: 20px 0;
            transition: all 0.2s ease-in;
            text-align: center;

            &:hover {
                background: $white;
                color: rgb(17, 17, 17);
            }

            .fa {
                display: inline-block;
                float: right;
            }
        }

        .darkbar h1 {
            color: $white;
        }

        .darkbar h3 {
            color: $red;
        }

        ul {
            padding: 0;
        }

        li {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1100px) {
        .fun-easy-convienent {
            background: $black url(../img/Tathata-Home-HorizontalWide.png) left top no-repeat !important;
        }
    }

    @media screen and (max-width: 768px) {
        .fun-easy-convienent {
            background: $black url(../img/Tathata-Home-Vertical.png) center top no-repeat !important;

            h1 {
                margin: 270px 0 0;
            }
        }
    }

    /* --------------------------------------------------------------
      ## Movement Training
    -------------------------------------------------------------- */
    .TathataMovementTraining {
        padding: 50px 0;

        h2 {
            font-size: 40px;
        }

        h4 {
            font-size: 22px;
        }

        img {
            padding: 40px 0;
        }

        ul {
            margin: 0 25px;
            padding: 0;
            list-style: square;

            li {
                padding: 0 0 0 10px;
                margin: 0 0 25px;
                font-size: 16px;
            }
        }
    }

    .TathataMovementTraining2 {
        background: $tathata-red;

        h2 {
            padding: 20px;
            font-size: 40px;
            text-align: center;
            color: $white;
        }

        p {
            color: $white;
            margin: 0 30px;
            font-family: $font;
            font-size: 18px;
        }
    }

    /* --------------------------------------------------------------
      ## Mental Training
    -------------------------------------------------------------- */
    .meditate {
        background: $white url(../img/MentalTrainingWide-Iso.png) center bottom no-repeat;
        padding: 0 !important;

        .row {
            padding: 20px 15px;
        }

        .meditate-title {
            padding: 40px 0 10px;
        }

        .highlight {
            margin: 0 0 400px;
            text-align: center;
        }
    }

    @media screen and (max-width: 700px) {
        .meditate {
            background: $white url(../img/MentalTrainingWide-Iso.png) center bottom no-repeat;
            background-size: contain !important;

            .highlight {
                margin: 0 0 100px;
            }
        }
    }

    /* --------------------------------------------------------------
      ## Image Grid
    -------------------------------------------------------------- */
    .image-grid {
        padding: 60px auto;

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 10px 1% !important;
                padding: 0;
                width: 31.222%;
                float: left;
                display: block;
            }
        }
    }

    .image-grid-container {
        width: 100%;
        padding: 0;
        height: 215px;
        background-size: cover !important;
        position: relative;
        display: block;
        margin: 0 auto;

        .grid-title {
            top: 175px;
            position: relative;
            font-weight: 600;
            color: $white;
            text-shadow: 0 0 4px black;
        }

        &:hover {
            filter: grayscale(90%);
        }

        &:focus {
            filter: grayscale(90%);
        }
    }

    .box-overlay {
        background: rgba(10, 10, 10, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: $white;
        text-shadow: 0 0 4px $light-gray;
        height: 100%;
        opacity: 0;
        transition: all 0.4s ease-in;
        z-index: 99;
        cursor: pointer;
        padding-top: 50px;

        &:hover {
            opacity: 1;
            transition: all 0.4s ease-in;
        }

        &:focus {
            opacity: 1;
            transition: all 0.4s ease-in;
        }

        p {
            font-size: 15px;
            line-height: 1.25;
            padding: 0 5%;
        }
    }

    @media screen and (max-width: 768px) {
        .image-grid ul li {
            width: 100%;
            float: none;
        }

        .image-grid-container {
            height: 255px;
        }
        .grid-title {
            top: 200px;
        }
    }

    /* --------------------------------------------------------------
      ## Learning and Training
    -------------------------------------------------------------- */
    .curriculum {
        padding: 0 0 40px;
    }

    /* --------------------------------------------------------------
      ## Forms
    -------------------------------------------------------------- */
    input[type="email"] {
        border: none;
        display: block;
        position: relative;
        outline: none;
        box-shadow: none;
        height: 3.25em;
        width: 100%;
        padding: 2px 10px;
        margin: 0;
        font-size: 16px;
    }

    input[type="submit"] {
        border: 2px solid rgb(39, 184, 16);
        border-radius: 8px;
        background: rgb(39, 184, 16);
        color: white;
        font: 16px $font;
        font-weight: 600;
        text-align: center;
        padding: 10px 30px;
        width: 100%;
        transition: all 0.4s ease;

        &:hover {
            background: none;
        }

        .gform_footer & {
            border: 2px solid rgb(39, 184, 16);
            border-radius: 8px;
            background: rgb(39, 184, 16);
            color: white;
            font: 16px $font;
            font-weight: 600;
            text-align: center;
            padding: 10px 30px;
            transition: all 0.4s ease;

            &:hover {
                background: rgb(29, 123, 15);
            }
        }
    }

    /* --------------------------------------------------------------
      ## Remodals
    -------------------------------------------------------------- */
    .remodal-close:hover {
        background: $tathata-red;
    }

    .remodal {
        overflow: scroll !important;
    }

    /* --------------------------------------------------------------
      ## Interior Videos
    -------------------------------------------------------------- */
    .subpage {
        section {
            padding: 50px 15px;
        }

        h1 span {
            color: $red;
            background: rgba(255, 230, 0, 0.78);
            font-weight: 500;
            padding: 0 8px;
        }
    }

    /* --------------------------------------------------------------
      ## Affiliate Welcome
    -------------------------------------------------------------- */
    .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type="email"],
    .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type="number"],
    .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type="password"],
    .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type="tel"],
    .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type="text"],
    .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type="url"],
    .gform_wrapper .ginput_complex input[type="email"],
    .gform_wrapper .ginput_complex input[type="number"],
    .gform_wrapper .ginput_complex input[type="password"],
    .gform_wrapper .ginput_complex input[type="tel"],
    .gform_wrapper .ginput_complex input[type="text"],
    .gform_wrapper .ginput_complex input[type="url"] {
        margin-bottom: 5px;
    }

    /* --------------------------------------------------------------
      ## Additional Benefits
    -------------------------------------------------------------- */
    .AdditionalBenefitsLabeWrap {
        width: 100%;
        height: 500px;
        opacity: 1;
        background: rgba($black, 0) url(../img/AddedBenefits.jpg) 50% 50%/cover no-repeat;
    }

    @media screen and (max-width: 1000px) {
        .AdditionalBenefitsLabeWrap {
            height: 250px;
            background-size: cover;
            background-position: bottom center;
        }
    }

    .onlineTopwrap {
        margin-bottom: 0 !important;
    }

    .benefits_right_side_content img {
        width: 80%;
        margin: 0 auto;
    }

    .row.benefits-upper-footer {
        margin-bottom: 80px;
    }

    /* --------------------------------------------------------------
      ## Sliders
    -------------------------------------------------------------- */
    .tp-caption {
        top: 54px !important;
        left: 90px !important;
        margin: 52.2083px 0 0 258.058px !important;
    }

    .tp-caption.small_light_white {
        font-size: 24px !important;
        line-height: 32px !important;
        font-family: $font;
        font-weight: 300;
        color: $white;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba($black, 0.8);
        background-color: transparent;
        padding: 0;
        border: 0 none rgb(255, 214, 88);
    }

    .banner-content-align p,
    .banner-content-align p .red-light {
        font-size: 24px !important;
        font-family: $font;
        font-weight: 300;
        line-height: 33px !important;
    }

    .red-light {
        color: $tathata-red;
    }

    .banner-content-align h2,
    .banner-content-align h2 .red-light {
        font-size: 35px !important;
        font-family: $font;
        font-weight: 300;
        line-height: 50px !important;
    }

    .homeslider_btn {
        color: rgb(204, 204, 204) !important;
        padding: 8px 28px 8px 15px;
        background: url(../img/gtimages/LinkBtnBg.png) right 10px center no-repeat $black;
        text-transform: uppercase;
        border-radius: 2px;
        display: inline-block;
        text-decoration: none;
        line-height: 20px;
        font-size: 12px;
        font-family: $font;
    }

    .darkBtn {
        font-family: $font;
        font-weight: 400;
        border-radius: 4px;
        padding: 8px 27px 8px 15px !important;
        font-size: 12px !important;
    }

    .btn4 {
        margin-top: 5% !important;
    }

    .banner-content-align h6 i {
        font-family: $font;
        font-weight: 300;
        line-height: 33px !important;
        font-size: 24px !important;
        color: white;
    }

    .holder h1 {
        font-size: 20px;
    }

    div.card.slick-slide {
        margin-bottom: 0;

        .card-title {
            margin-top: 20px;
        }
    }

    /* --------------------------------------------------------------
      ## New Sliders
    -------------------------------------------------------------- */
    #ms-linked-sliders {
        > .holder {
            text-align: center;
        }

        #msInfoSliders {
            flex-direction: column;

            @media screen and (min-width: 992px) {
                flex-direction: row;
            }

            .ms-blocks--column.ms-half {
                @media screen and (max-width: 992px) { width: 100%; }

                &:nth-child(1) {
                    background: rgb(35, 31, 32);
                    color: $white;

                    .ms-golf-industry,
                    .msLinkedSlider {
                        background: none;
                    }

                    .golf-industry {
                        color: $white;
                    }

                    .ms-number--title {
                        color: rgb(207, 10, 44);
                    }

                    p {
                        color: $white;
                    }

                    .slick-prev::before,
                    .slick-next::before {
                        color: rgb(119, 119, 119);
                    }
                }
            }

            .ms-golf-industry--slide .ms-number--title,
            .msLinkedSlider--slide .ms-number--title {
                width: 100%;
                font-size: 1em;
                font-weight: 700;
                padding: 0;
                text-align: center;
            }

            .giSlide-content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        /* --------------------------------------------------------------
          ## Golf Industry Slider
        -------------------------------------------------------------- */
        .golf-industry {
            font-size: 26px;
            font-family: $font-header;
            font-weight: 700;
            color: rgb(207, 10, 44);
            text-align: center;
            margin-top: 20px;
            text-transform: uppercase;
            padding: 0;

            @include breakpoint(medium) {
                font-size: 30px;
            }
        }

        .ms-golf-industry,
        .msLinkedSlider {
            width: 100%;
            background: rgb(247, 247, 247);
            height: 100%;
            flex: 1 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 0;
            padding: 0;

            p {
                color: black;
                font: 16px $font;
                text-align: center;
                width: 65%;
            }

            .slick-prev {
                left: 15px;
            }

            .slick-next {
                right: 12px;
            }

            .slick-prev,
            .slick-next {
                top: 33%;
            }
        }

        .ms-golf-industry--slide,
        .msLinkedSlider--slide {
            flex: 0 1;
            display: flex !important;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            p,
            span {
                flex: 0 1 auto;
                display: inline-block;
            }

            p {
                text-align: left;

                @include breakpoint(medium) {
                    text-align: center;
                }
            }
        }

        .ms-number {
            flex: 0 1 auto;
            display: inline-block;
            font: 120px $font-header;
            font-weight: 700;
            color: rgb(207, 10, 44);
            vertical-align: middle;
            text-align: center;
            margin: 0 25px;
            min-width: 56px;
        }

        /* --------------------------------------------------------------
          ## Swipe Text
        -------------------------------------------------------------- */
        .swipe-text {
            display: block !important;
            font: 14px $font !important;
            color: black;
            text-align: center !important;
            flex: 0 1 auto !important;

            @media screen and (min-width: 992px) { display: none !important; }
        }

        .ms-blocks--column .swipe-text {
            color: black;
        }

        .ms-opportunity .swipe-text {
            color: white !important;
        }

        .slick-next {
            right: 20px !important;
            width: 45px;
            height: 45px;
        }

        .slick-prev::before,
        .slick-next::before {
            color: $black;
            font-size: 45px;
        }

        .slick-prev {
            left: 50px;
            width: 45px;
            height: 45px;
        }

        @media screen and (max-width: 768px) {
            .slick-prev,
            .slick-next {
                display: none !important;
            }
        }
    }

    /* --------------------------------------------------------------
      ## Footer
    -------------------------------------------------------------- */
    footer {
        padding: 30px 0 20px;
        background: black;
        margin-top: 60px;

        p {
            color: white;

            a,
            a:visited {
                color: $red;
            }
        }
    }

    // Print Styles
    // --------------------------------------------------------------
    .show-for-print {
        display: none;
    }

    // Media Queries
    // --------------------------------------------------------------
    @media screen and (max-width: 1024px) {
        .tp-simpleresponsive .tp-caption {
            top: 0 !important;
            left: 10px !important;
        }

        .banner-content-align p,
        .banner-content-align p .red-light {
            font-size: 16px !important;
            font-family: $font;
            font-weight: 300;
            line-height: 22px !important;
        }

        .banner-content-align h6 i {
            line-height: 25px !important;
            font-size: 18px !important;
        }

        .banner-content-align h2,
        .banner-content-align h2 .red-light {
            font-size: 20px !important;
            line-height: 28px !important;
        }

        .home .testimonialTypeText p span,
        .home .testimonialTypeText p span i {
            font-size: 12px !important;
        }

        .small {
            font-size: 12px !important;

            i {
                font-size: 12px !important;
            }
        }
    }

    @media screen and (max-width: 40em) {
        .mental-training {
            background: $dark-red url(../img/gtimages/mental-training.jpg) top right no-repeat;
            min-height: 750px;
            padding: 616px 0 110px;
            background-size: 170%;
        }

        .movement-training {
            background: url(../img/gtimages/mt-bg.jpg) center 0 no-repeat;
            width: 100%;
            min-height: 1070px;
            padding: 252px 0 40px !important;
            background-size: 136%;
        }

        .forcefullwidth_wrapper_tp_banner {
            height: 280px !important;
        }

        .fullwidthbanner-container,
        .fullwidthbanner-container .fullwidthabanner {
            height: 280px !important;
        }

        .tp-simpleresponsive .tp-caption {
            left: 0 !important;
            top: 40px !important;
            width: 100%;
            margin: 0 auto !important;
            padding: 0 10%;
        }

        .banner-content-align h2,
        .banner-content-align h2 .red-light {
            font-size: 22px !important;
            margin-bottom: 10px !important;
        }

        .home .testimonialTypeText p span,
        .home .testimonialTypeText p span i {
            font-size: 9px !important;
        }

        .banner-content-align p,
        .banner-content-align p .red-light {
            font-size: 16px !important;
            line-height: 22px !important;
        }

        .banner-content-align h6 i {
            line-height: 13px !important;
            font-size: 13px !important;
            max-width: 100%;
        }

        .tparrows {
            display: none;
        }

        .slide5 {
            margin-top: 50px !important;
        }
    }

    // Flex Video
    // --------------------------------------------------------------
    .flex-video {
        height: 0;
        margin-bottom: 1rem;
        overflow: hidden;
        padding-bottom: 67.5%;
        padding-top: 1.5625rem;
        position: relative;
    }

    .flex-video.widescreen {
        padding-bottom: 56.34%;
    }

    .flex-video.vimeo {
        padding-top: 0;
    }

    .flex-video iframe,
    .flex-video object,
    .flex-video embed,
    .flex-video video {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
    }

    // Visibility Classes
    // --------------------------------------------------------------
    /* stylelint-disable */
    @media only screen {
        .show-for-small-only,
        .show-for-small-up,
        .show-for-small,
        .show-for-small-down,
        .hide-for-medium-only,
        .hide-for-medium-up,
        .hide-for-medium,
        .show-for-medium-down,
        .hide-for-large-only,
        .hide-for-large-up,
        .hide-for-large,
        .show-for-large-down,
        .hide-for-xlarge-only,
        .hide-for-xlarge-up,
        .hide-for-xlarge,
        .show-for-xlarge-down,
        .hide-for-xxlarge-only,
        .hide-for-xxlarge-up,
        .hide-for-xxlarge,
        .show-for-xxlarge-down {
            display: inherit !important;
        }

        .hide-for-small-only,
        .hide-for-small-up,
        .hide-for-small,
        .hide-for-small-down,
        .show-for-medium-only,
        .show-for-medium-up,
        .show-for-medium,
        .hide-for-medium-down,
        .show-for-large-only,
        .show-for-large-up,
        .show-for-large,
        .hide-for-large-down,
        .show-for-xlarge-only,
        .show-for-xlarge-up,
        .show-for-xlarge,
        .hide-for-xlarge-down,
        .show-for-xxlarge-only,
        .show-for-xxlarge-up,
        .show-for-xxlarge,
        .hide-for-xxlarge-down {
            display: none !important;
        }

        .visible-for-small-only,
        .visible-for-small-up,
        .visible-for-small,
        .visible-for-small-down,
        .hidden-for-medium-only,
        .hidden-for-medium-up,
        .hidden-for-medium,
        .visible-for-medium-down,
        .hidden-for-large-only,
        .hidden-for-large-up,
        .hidden-for-large,
        .visible-for-large-down,
        .hidden-for-xlarge-only,
        .hidden-for-xlarge-up,
        .hidden-for-xlarge,
        .visible-for-xlarge-down,
        .hidden-for-xxlarge-only,
        .hidden-for-xxlarge-up,
        .hidden-for-xxlarge,
        .visible-for-xxlarge-down {
            position: static !important;
            height: auto;
            width: auto;
            overflow: visible;
            clip: auto;
        }

        .hidden-for-small-only,
        .hidden-for-small-up,
        .hidden-for-small,
        .hidden-for-small-down,
        .visible-for-medium-only,
        .visible-for-medium-up,
        .visible-for-medium,
        .hidden-for-medium-down,
        .visible-for-large-only,
        .visible-for-large-up,
        .visible-for-large,
        .hidden-for-large-down,
        .visible-for-xlarge-only,
        .visible-for-xlarge-up,
        .visible-for-xlarge,
        .hidden-for-xlarge-down,
        .visible-for-xxlarge-only,
        .visible-for-xxlarge-up,
        .visible-for-xxlarge,
        .hidden-for-xxlarge-down {
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            overflow: hidden;
            position: absolute !important;
            width: 1px;
        }

        table.show-for-small-only,
        table.show-for-small-up,
        table.show-for-small,
        table.show-for-small-down,
        table.hide-for-medium-only,
        table.hide-for-medium-up,
        table.hide-for-medium,
        table.show-for-medium-down,
        table.hide-for-large-only,
        table.hide-for-large-up,
        table.hide-for-large,
        table.show-for-large-down,
        table.hide-for-xlarge-only,
        table.hide-for-xlarge-up,
        table.hide-for-xlarge,
        table.show-for-xlarge-down,
        table.hide-for-xxlarge-only,
        table.hide-for-xxlarge-up,
        table.hide-for-xxlarge,
        table.show-for-xxlarge-down {
            display: table !important;
        }

        thead.show-for-small-only,
        thead.show-for-small-up,
        thead.show-for-small,
        thead.show-for-small-down,
        thead.hide-for-medium-only,
        thead.hide-for-medium-up,
        thead.hide-for-medium,
        thead.show-for-medium-down,
        thead.hide-for-large-only,
        thead.hide-for-large-up,
        thead.hide-for-large,
        thead.show-for-large-down,
        thead.hide-for-xlarge-only,
        thead.hide-for-xlarge-up,
        thead.hide-for-xlarge,
        thead.show-for-xlarge-down,
        thead.hide-for-xxlarge-only,
        thead.hide-for-xxlarge-up,
        thead.hide-for-xxlarge,
        thead.show-for-xxlarge-down {
            display: table-header-group !important;
        }

        tbody.show-for-small-only,
        tbody.show-for-small-up,
        tbody.show-for-small,
        tbody.show-for-small-down,
        tbody.hide-for-medium-only,
        tbody.hide-for-medium-up,
        tbody.hide-for-medium,
        tbody.show-for-medium-down,
        tbody.hide-for-large-only,
        tbody.hide-for-large-up,
        tbody.hide-for-large,
        tbody.show-for-large-down,
        tbody.hide-for-xlarge-only,
        tbody.hide-for-xlarge-up,
        tbody.hide-for-xlarge,
        tbody.show-for-xlarge-down,
        tbody.hide-for-xxlarge-only,
        tbody.hide-for-xxlarge-up,
        tbody.hide-for-xxlarge,
        tbody.show-for-xxlarge-down {
            display: table-row-group !important;
        }

        tr.show-for-small-only,
        tr.show-for-small-up,
        tr.show-for-small,
        tr.show-for-small-down,
        tr.hide-for-medium-only,
        tr.hide-for-medium-up,
        tr.hide-for-medium,
        tr.show-for-medium-down,
        tr.hide-for-large-only,
        tr.hide-for-large-up,
        tr.hide-for-large,
        tr.show-for-large-down,
        tr.hide-for-xlarge-only,
        tr.hide-for-xlarge-up,
        tr.hide-for-xlarge,
        tr.show-for-xlarge-down,
        tr.hide-for-xxlarge-only,
        tr.hide-for-xxlarge-up,
        tr.hide-for-xxlarge,
        tr.show-for-xxlarge-down {
            display: table-row;
        }

        th.show-for-small-only,
        td.show-for-small-only,
        th.show-for-small-up,
        td.show-for-small-up,
        th.show-for-small,
        td.show-for-small,
        th.show-for-small-down,
        td.show-for-small-down,
        th.hide-for-medium-only,
        td.hide-for-medium-only,
        th.hide-for-medium-up,
        td.hide-for-medium-up,
        th.hide-for-medium,
        td.hide-for-medium,
        th.show-for-medium-down,
        td.show-for-medium-down,
        th.hide-for-large-only,
        td.hide-for-large-only,
        th.hide-for-large-up,
        td.hide-for-large-up,
        th.hide-for-large,
        td.hide-for-large,
        th.show-for-large-down,
        td.show-for-large-down,
        th.hide-for-xlarge-only,
        td.hide-for-xlarge-only,
        th.hide-for-xlarge-up,
        td.hide-for-xlarge-up,
        th.hide-for-xlarge,
        td.hide-for-xlarge,
        th.show-for-xlarge-down,
        td.show-for-xlarge-down,
        th.hide-for-xxlarge-only,
        td.hide-for-xxlarge-only,
        th.hide-for-xxlarge-up,
        td.hide-for-xxlarge-up,
        th.hide-for-xxlarge,
        td.hide-for-xxlarge,
        th.show-for-xxlarge-down,
        td.show-for-xxlarge-down {
            display: table-cell !important;
        }
    }

    /* medium displays */
    @media only screen and (min-width: 40.0625em) {
        .hide-for-small-only,
        .show-for-small-up,
        .hide-for-small,
        .hide-for-small-down,
        .show-for-medium-only,
        .show-for-medium-up,
        .show-for-medium,
        .show-for-medium-down,
        .hide-for-large-only,
        .hide-for-large-up,
        .hide-for-large,
        .show-for-large-down,
        .hide-for-xlarge-only,
        .hide-for-xlarge-up,
        .hide-for-xlarge,
        .show-for-xlarge-down,
        .hide-for-xxlarge-only,
        .hide-for-xxlarge-up,
        .hide-for-xxlarge,
        .show-for-xxlarge-down {
            display: inherit !important;
        }

        .show-for-small-only,
        .hide-for-small-up,
        .show-for-small,
        .show-for-small-down,
        .hide-for-medium-only,
        .hide-for-medium-up,
        .hide-for-medium,
        .hide-for-medium-down,
        .show-for-large-only,
        .show-for-large-up,
        .show-for-large,
        .hide-for-large-down,
        .show-for-xlarge-only,
        .show-for-xlarge-up,
        .show-for-xlarge,
        .hide-for-xlarge-down,
        .show-for-xxlarge-only,
        .show-for-xxlarge-up,
        .show-for-xxlarge,
        .hide-for-xxlarge-down {
            display: none !important;
        }

        .hidden-for-small-only,
        .visible-for-small-up,
        .hidden-for-small,
        .hidden-for-small-down,
        .visible-for-medium-only,
        .visible-for-medium-up,
        .visible-for-medium,
        .visible-for-medium-down,
        .hidden-for-large-only,
        .hidden-for-large-up,
        .hidden-for-large,
        .visible-for-large-down,
        .hidden-for-xlarge-only,
        .hidden-for-xlarge-up,
        .hidden-for-xlarge,
        .visible-for-xlarge-down,
        .hidden-for-xxlarge-only,
        .hidden-for-xxlarge-up,
        .hidden-for-xxlarge,
        .visible-for-xxlarge-down {
            position: static !important;
            height: auto;
            width: auto;
            overflow: visible;
            clip: auto;
        }

        .visible-for-small-only,
        .hidden-for-small-up,
        .visible-for-small,
        .visible-for-small-down,
        .hidden-for-medium-only,
        .hidden-for-medium-up,
        .hidden-for-medium,
        .hidden-for-medium-down,
        .visible-for-large-only,
        .visible-for-large-up,
        .visible-for-large,
        .hidden-for-large-down,
        .visible-for-xlarge-only,
        .visible-for-xlarge-up,
        .visible-for-xlarge,
        .hidden-for-xlarge-down,
        .visible-for-xxlarge-only,
        .visible-for-xxlarge-up,
        .visible-for-xxlarge,
        .hidden-for-xxlarge-down {
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            overflow: hidden;
            position: absolute !important;
            width: 1px;
        }

        table.hide-for-small-only,
        table.show-for-small-up,
        table.hide-for-small,
        table.hide-for-small-down,
        table.show-for-medium-only,
        table.show-for-medium-up,
        table.show-for-medium,
        table.show-for-medium-down,
        table.hide-for-large-only,
        table.hide-for-large-up,
        table.hide-for-large,
        table.show-for-large-down,
        table.hide-for-xlarge-only,
        table.hide-for-xlarge-up,
        table.hide-for-xlarge,
        table.show-for-xlarge-down,
        table.hide-for-xxlarge-only,
        table.hide-for-xxlarge-up,
        table.hide-for-xxlarge,
        table.show-for-xxlarge-down {
            display: table !important;
        }

        thead.hide-for-small-only,
        thead.show-for-small-up,
        thead.hide-for-small,
        thead.hide-for-small-down,
        thead.show-for-medium-only,
        thead.show-for-medium-up,
        thead.show-for-medium,
        thead.show-for-medium-down,
        thead.hide-for-large-only,
        thead.hide-for-large-up,
        thead.hide-for-large,
        thead.show-for-large-down,
        thead.hide-for-xlarge-only,
        thead.hide-for-xlarge-up,
        thead.hide-for-xlarge,
        thead.show-for-xlarge-down,
        thead.hide-for-xxlarge-only,
        thead.hide-for-xxlarge-up,
        thead.hide-for-xxlarge,
        thead.show-for-xxlarge-down {
            display: table-header-group !important;
        }

        tbody.hide-for-small-only,
        tbody.show-for-small-up,
        tbody.hide-for-small,
        tbody.hide-for-small-down,
        tbody.show-for-medium-only,
        tbody.show-for-medium-up,
        tbody.show-for-medium,
        tbody.show-for-medium-down,
        tbody.hide-for-large-only,
        tbody.hide-for-large-up,
        tbody.hide-for-large,
        tbody.show-for-large-down,
        tbody.hide-for-xlarge-only,
        tbody.hide-for-xlarge-up,
        tbody.hide-for-xlarge,
        tbody.show-for-xlarge-down,
        tbody.hide-for-xxlarge-only,
        tbody.hide-for-xxlarge-up,
        tbody.hide-for-xxlarge,
        tbody.show-for-xxlarge-down {
            display: table-row-group !important;
        }

        tr.hide-for-small-only,
        tr.show-for-small-up,
        tr.hide-for-small,
        tr.hide-for-small-down,
        tr.show-for-medium-only,
        tr.show-for-medium-up,
        tr.show-for-medium,
        tr.show-for-medium-down,
        tr.hide-for-large-only,
        tr.hide-for-large-up,
        tr.hide-for-large,
        tr.show-for-large-down,
        tr.hide-for-xlarge-only,
        tr.hide-for-xlarge-up,
        tr.hide-for-xlarge,
        tr.show-for-xlarge-down,
        tr.hide-for-xxlarge-only,
        tr.hide-for-xxlarge-up,
        tr.hide-for-xxlarge,
        tr.show-for-xxlarge-down {
            display: table-row;
        }

        th.hide-for-small-only,
        td.hide-for-small-only,
        th.show-for-small-up,
        td.show-for-small-up,
        th.hide-for-small,
        td.hide-for-small,
        th.hide-for-small-down,
        td.hide-for-small-down,
        th.show-for-medium-only,
        td.show-for-medium-only,
        th.show-for-medium-up,
        td.show-for-medium-up,
        th.show-for-medium,
        td.show-for-medium,
        th.show-for-medium-down,
        td.show-for-medium-down,
        th.hide-for-large-only,
        td.hide-for-large-only,
        th.hide-for-large-up,
        td.hide-for-large-up,
        th.hide-for-large,
        td.hide-for-large,
        th.show-for-large-down,
        td.show-for-large-down,
        th.hide-for-xlarge-only,
        td.hide-for-xlarge-only,
        th.hide-for-xlarge-up,
        td.hide-for-xlarge-up,
        th.hide-for-xlarge,
        td.hide-for-xlarge,
        th.show-for-xlarge-down,
        td.show-for-xlarge-down,
        th.hide-for-xxlarge-only,
        td.hide-for-xxlarge-only,
        th.hide-for-xxlarge-up,
        td.hide-for-xxlarge-up,
        th.hide-for-xxlarge,
        td.hide-for-xxlarge,
        th.show-for-xxlarge-down,
        td.show-for-xxlarge-down {
            display: table-cell !important;
        }
    }

    /* large displays */
    @media only screen and (min-width: 64.0625em) {
        .hide-for-small-only,
        .show-for-small-up,
        .hide-for-small,
        .hide-for-small-down,
        .hide-for-medium-only,
        .show-for-medium-up,
        .hide-for-medium,
        .hide-for-medium-down,
        .show-for-large-only,
        .show-for-large-up,
        .show-for-large,
        .show-for-large-down,
        .hide-for-xlarge-only,
        .hide-for-xlarge-up,
        .hide-for-xlarge,
        .show-for-xlarge-down,
        .hide-for-xxlarge-only,
        .hide-for-xxlarge-up,
        .hide-for-xxlarge,
        .show-for-xxlarge-down {
            display: inherit !important;
        }

        .show-for-small-only,
        .hide-for-small-up,
        .show-for-small,
        .show-for-small-down,
        .show-for-medium-only,
        .hide-for-medium-up,
        .show-for-medium,
        .show-for-medium-down,
        .hide-for-large-only,
        .hide-for-large-up,
        .hide-for-large,
        .hide-for-large-down,
        .show-for-xlarge-only,
        .show-for-xlarge-up,
        .show-for-xlarge,
        .hide-for-xlarge-down,
        .show-for-xxlarge-only,
        .show-for-xxlarge-up,
        .show-for-xxlarge,
        .hide-for-xxlarge-down {
            display: none !important;
        }

        .hidden-for-small-only,
        .visible-for-small-up,
        .hidden-for-small,
        .hidden-for-small-down,
        .hidden-for-medium-only,
        .visible-for-medium-up,
        .hidden-for-medium,
        .hidden-for-medium-down,
        .visible-for-large-only,
        .visible-for-large-up,
        .visible-for-large,
        .visible-for-large-down,
        .hidden-for-xlarge-only,
        .hidden-for-xlarge-up,
        .hidden-for-xlarge,
        .visible-for-xlarge-down,
        .hidden-for-xxlarge-only,
        .hidden-for-xxlarge-up,
        .hidden-for-xxlarge,
        .visible-for-xxlarge-down {
            position: static !important;
            height: auto;
            width: auto;
            overflow: visible;
            clip: auto;
        }

        .visible-for-small-only,
        .hidden-for-small-up,
        .visible-for-small,
        .visible-for-small-down,
        .visible-for-medium-only,
        .hidden-for-medium-up,
        .visible-for-medium,
        .visible-for-medium-down,
        .hidden-for-large-only,
        .hidden-for-large-up,
        .hidden-for-large,
        .hidden-for-large-down,
        .visible-for-xlarge-only,
        .visible-for-xlarge-up,
        .visible-for-xlarge,
        .hidden-for-xlarge-down,
        .visible-for-xxlarge-only,
        .visible-for-xxlarge-up,
        .visible-for-xxlarge,
        .hidden-for-xxlarge-down {
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            overflow: hidden;
            position: absolute !important;
            width: 1px;
        }

        table.hide-for-small-only,
        table.show-for-small-up,
        table.hide-for-small,
        table.hide-for-small-down,
        table.hide-for-medium-only,
        table.show-for-medium-up,
        table.hide-for-medium,
        table.hide-for-medium-down,
        table.show-for-large-only,
        table.show-for-large-up,
        table.show-for-large,
        table.show-for-large-down,
        table.hide-for-xlarge-only,
        table.hide-for-xlarge-up,
        table.hide-for-xlarge,
        table.show-for-xlarge-down,
        table.hide-for-xxlarge-only,
        table.hide-for-xxlarge-up,
        table.hide-for-xxlarge,
        table.show-for-xxlarge-down {
            display: table !important;
        }

        thead.hide-for-small-only,
        thead.show-for-small-up,
        thead.hide-for-small,
        thead.hide-for-small-down,
        thead.hide-for-medium-only,
        thead.show-for-medium-up,
        thead.hide-for-medium,
        thead.hide-for-medium-down,
        thead.show-for-large-only,
        thead.show-for-large-up,
        thead.show-for-large,
        thead.show-for-large-down,
        thead.hide-for-xlarge-only,
        thead.hide-for-xlarge-up,
        thead.hide-for-xlarge,
        thead.show-for-xlarge-down,
        thead.hide-for-xxlarge-only,
        thead.hide-for-xxlarge-up,
        thead.hide-for-xxlarge,
        thead.show-for-xxlarge-down {
            display: table-header-group !important;
        }

        tbody.hide-for-small-only,
        tbody.show-for-small-up,
        tbody.hide-for-small,
        tbody.hide-for-small-down,
        tbody.hide-for-medium-only,
        tbody.show-for-medium-up,
        tbody.hide-for-medium,
        tbody.hide-for-medium-down,
        tbody.show-for-large-only,
        tbody.show-for-large-up,
        tbody.show-for-large,
        tbody.show-for-large-down,
        tbody.hide-for-xlarge-only,
        tbody.hide-for-xlarge-up,
        tbody.hide-for-xlarge,
        tbody.show-for-xlarge-down,
        tbody.hide-for-xxlarge-only,
        tbody.hide-for-xxlarge-up,
        tbody.hide-for-xxlarge,
        tbody.show-for-xxlarge-down {
            display: table-row-group !important;
        }

        tr.hide-for-small-only,
        tr.show-for-small-up,
        tr.hide-for-small,
        tr.hide-for-small-down,
        tr.hide-for-medium-only,
        tr.show-for-medium-up,
        tr.hide-for-medium,
        tr.hide-for-medium-down,
        tr.show-for-large-only,
        tr.show-for-large-up,
        tr.show-for-large,
        tr.show-for-large-down,
        tr.hide-for-xlarge-only,
        tr.hide-for-xlarge-up,
        tr.hide-for-xlarge,
        tr.show-for-xlarge-down,
        tr.hide-for-xxlarge-only,
        tr.hide-for-xxlarge-up,
        tr.hide-for-xxlarge,
        tr.show-for-xxlarge-down {
            display: table-row;
        }

        th.hide-for-small-only,
        td.hide-for-small-only,
        th.show-for-small-up,
        td.show-for-small-up,
        th.hide-for-small,
        td.hide-for-small,
        th.hide-for-small-down,
        td.hide-for-small-down,
        th.hide-for-medium-only,
        td.hide-for-medium-only,
        th.show-for-medium-up,
        td.show-for-medium-up,
        th.hide-for-medium,
        td.hide-for-medium,
        th.hide-for-medium-down,
        td.hide-for-medium-down,
        th.show-for-large-only,
        td.show-for-large-only,
        th.show-for-large-up,
        td.show-for-large-up,
        th.show-for-large,
        td.show-for-large,
        th.show-for-large-down,
        td.show-for-large-down,
        th.hide-for-xlarge-only,
        td.hide-for-xlarge-only,
        th.hide-for-xlarge-up,
        td.hide-for-xlarge-up,
        th.hide-for-xlarge,
        td.hide-for-xlarge,
        th.show-for-xlarge-down,
        td.show-for-xlarge-down,
        th.hide-for-xxlarge-only,
        td.hide-for-xxlarge-only,
        th.hide-for-xxlarge-up,
        td.hide-for-xxlarge-up,
        th.hide-for-xxlarge,
        td.hide-for-xxlarge,
        th.show-for-xxlarge-down,
        td.show-for-xxlarge-down {
            display: table-cell !important;
        }
    }

    /* xlarge displays */
    @media only screen and (min-width: 90.0625em) {
        .hide-for-small-only,
        .show-for-small-up,
        .hide-for-small,
        .hide-for-small-down,
        .hide-for-medium-only,
        .show-for-medium-up,
        .hide-for-medium,
        .hide-for-medium-down,
        .hide-for-large-only,
        .show-for-large-up,
        .hide-for-large,
        .hide-for-large-down,
        .show-for-xlarge-only,
        .show-for-xlarge-up,
        .show-for-xlarge,
        .show-for-xlarge-down,
        .hide-for-xxlarge-only,
        .hide-for-xxlarge-up,
        .hide-for-xxlarge,
        .show-for-xxlarge-down {
            display: inherit !important;
        }

        .show-for-small-only,
        .hide-for-small-up,
        .show-for-small,
        .show-for-small-down,
        .show-for-medium-only,
        .hide-for-medium-up,
        .show-for-medium,
        .show-for-medium-down,
        .show-for-large-only,
        .hide-for-large-up,
        .show-for-large,
        .show-for-large-down,
        .hide-for-xlarge-only,
        .hide-for-xlarge-up,
        .hide-for-xlarge,
        .hide-for-xlarge-down,
        .show-for-xxlarge-only,
        .show-for-xxlarge-up,
        .show-for-xxlarge,
        .hide-for-xxlarge-down {
            display: none !important;
        }

        .hidden-for-small-only,
        .visible-for-small-up,
        .hidden-for-small,
        .hidden-for-small-down,
        .hidden-for-medium-only,
        .visible-for-medium-up,
        .hidden-for-medium,
        .hidden-for-medium-down,
        .hidden-for-large-only,
        .visible-for-large-up,
        .hidden-for-large,
        .hidden-for-large-down,
        .visible-for-xlarge-only,
        .visible-for-xlarge-up,
        .visible-for-xlarge,
        .visible-for-xlarge-down,
        .hidden-for-xxlarge-only,
        .hidden-for-xxlarge-up,
        .hidden-for-xxlarge,
        .visible-for-xxlarge-down {
            position: static !important;
            height: auto;
            width: auto;
            overflow: visible;
            clip: auto;
        }

        .visible-for-small-only,
        .hidden-for-small-up,
        .visible-for-small,
        .visible-for-small-down,
        .visible-for-medium-only,
        .hidden-for-medium-up,
        .visible-for-medium,
        .visible-for-medium-down,
        .visible-for-large-only,
        .hidden-for-large-up,
        .visible-for-large,
        .visible-for-large-down,
        .hidden-for-xlarge-only,
        .hidden-for-xlarge-up,
        .hidden-for-xlarge,
        .hidden-for-xlarge-down,
        .visible-for-xxlarge-only,
        .visible-for-xxlarge-up,
        .visible-for-xxlarge,
        .hidden-for-xxlarge-down {
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            overflow: hidden;
            position: absolute !important;
            width: 1px;
        }

        table.hide-for-small-only,
        table.show-for-small-up,
        table.hide-for-small,
        table.hide-for-small-down,
        table.hide-for-medium-only,
        table.show-for-medium-up,
        table.hide-for-medium,
        table.hide-for-medium-down,
        table.hide-for-large-only,
        table.show-for-large-up,
        table.hide-for-large,
        table.hide-for-large-down,
        table.show-for-xlarge-only,
        table.show-for-xlarge-up,
        table.show-for-xlarge,
        table.show-for-xlarge-down,
        table.hide-for-xxlarge-only,
        table.hide-for-xxlarge-up,
        table.hide-for-xxlarge,
        table.show-for-xxlarge-down {
            display: table !important;
        }

        thead.hide-for-small-only,
        thead.show-for-small-up,
        thead.hide-for-small,
        thead.hide-for-small-down,
        thead.hide-for-medium-only,
        thead.show-for-medium-up,
        thead.hide-for-medium,
        thead.hide-for-medium-down,
        thead.hide-for-large-only,
        thead.show-for-large-up,
        thead.hide-for-large,
        thead.hide-for-large-down,
        thead.show-for-xlarge-only,
        thead.show-for-xlarge-up,
        thead.show-for-xlarge,
        thead.show-for-xlarge-down,
        thead.hide-for-xxlarge-only,
        thead.hide-for-xxlarge-up,
        thead.hide-for-xxlarge,
        thead.show-for-xxlarge-down {
            display: table-header-group !important;
        }

        tbody.hide-for-small-only,
        tbody.show-for-small-up,
        tbody.hide-for-small,
        tbody.hide-for-small-down,
        tbody.hide-for-medium-only,
        tbody.show-for-medium-up,
        tbody.hide-for-medium,
        tbody.hide-for-medium-down,
        tbody.hide-for-large-only,
        tbody.show-for-large-up,
        tbody.hide-for-large,
        tbody.hide-for-large-down,
        tbody.show-for-xlarge-only,
        tbody.show-for-xlarge-up,
        tbody.show-for-xlarge,
        tbody.show-for-xlarge-down,
        tbody.hide-for-xxlarge-only,
        tbody.hide-for-xxlarge-up,
        tbody.hide-for-xxlarge,
        tbody.show-for-xxlarge-down {
            display: table-row-group !important;
        }

        tr.hide-for-small-only,
        tr.show-for-small-up,
        tr.hide-for-small,
        tr.hide-for-small-down,
        tr.hide-for-medium-only,
        tr.show-for-medium-up,
        tr.hide-for-medium,
        tr.hide-for-medium-down,
        tr.hide-for-large-only,
        tr.show-for-large-up,
        tr.hide-for-large,
        tr.hide-for-large-down,
        tr.show-for-xlarge-only,
        tr.show-for-xlarge-up,
        tr.show-for-xlarge,
        tr.show-for-xlarge-down,
        tr.hide-for-xxlarge-only,
        tr.hide-for-xxlarge-up,
        tr.hide-for-xxlarge,
        tr.show-for-xxlarge-down {
            display: table-row;
        }

        th.hide-for-small-only,
        td.hide-for-small-only,
        th.show-for-small-up,
        td.show-for-small-up,
        th.hide-for-small,
        td.hide-for-small,
        th.hide-for-small-down,
        td.hide-for-small-down,
        th.hide-for-medium-only,
        td.hide-for-medium-only,
        th.show-for-medium-up,
        td.show-for-medium-up,
        th.hide-for-medium,
        td.hide-for-medium,
        th.hide-for-medium-down,
        td.hide-for-medium-down,
        th.hide-for-large-only,
        td.hide-for-large-only,
        th.show-for-large-up,
        td.show-for-large-up,
        th.hide-for-large,
        td.hide-for-large,
        th.hide-for-large-down,
        td.hide-for-large-down,
        th.show-for-xlarge-only,
        td.show-for-xlarge-only,
        th.show-for-xlarge-up,
        td.show-for-xlarge-up,
        th.show-for-xlarge,
        td.show-for-xlarge,
        th.show-for-xlarge-down,
        td.show-for-xlarge-down,
        th.hide-for-xxlarge-only,
        td.hide-for-xxlarge-only,
        th.hide-for-xxlarge-up,
        td.hide-for-xxlarge-up,
        th.hide-for-xxlarge,
        td.hide-for-xxlarge,
        th.show-for-xxlarge-down,
        td.show-for-xxlarge-down {
            display: table-cell !important;
        }
    }

    /* xxlarge displays */
    @media only screen and (min-width: 120.0625em) {
        .hide-for-small-only,
        .show-for-small-up,
        .hide-for-small,
        .hide-for-small-down,
        .hide-for-medium-only,
        .show-for-medium-up,
        .hide-for-medium,
        .hide-for-medium-down,
        .hide-for-large-only,
        .show-for-large-up,
        .hide-for-large,
        .hide-for-large-down,
        .hide-for-xlarge-only,
        .show-for-xlarge-up,
        .hide-for-xlarge,
        .hide-for-xlarge-down,
        .show-for-xxlarge-only,
        .show-for-xxlarge-up,
        .show-for-xxlarge,
        .show-for-xxlarge-down {
            display: inherit !important;
        }

        .show-for-small-only,
        .hide-for-small-up,
        .show-for-small,
        .show-for-small-down,
        .show-for-medium-only,
        .hide-for-medium-up,
        .show-for-medium,
        .show-for-medium-down,
        .show-for-large-only,
        .hide-for-large-up,
        .show-for-large,
        .show-for-large-down,
        .show-for-xlarge-only,
        .hide-for-xlarge-up,
        .show-for-xlarge,
        .show-for-xlarge-down,
        .hide-for-xxlarge-only,
        .hide-for-xxlarge-up,
        .hide-for-xxlarge,
        .hide-for-xxlarge-down {
            display: none !important;
        }

        .hidden-for-small-only,
        .visible-for-small-up,
        .hidden-for-small,
        .hidden-for-small-down,
        .hidden-for-medium-only,
        .visible-for-medium-up,
        .hidden-for-medium,
        .hidden-for-medium-down,
        .hidden-for-large-only,
        .visible-for-large-up,
        .hidden-for-large,
        .hidden-for-large-down,
        .hidden-for-xlarge-only,
        .visible-for-xlarge-up,
        .hidden-for-xlarge,
        .hidden-for-xlarge-down,
        .visible-for-xxlarge-only,
        .visible-for-xxlarge-up,
        .visible-for-xxlarge,
        .visible-for-xxlarge-down {
            position: static !important;
            height: auto;
            width: auto;
            overflow: visible;
            clip: auto;
        }

        .visible-for-small-only,
        .hidden-for-small-up,
        .visible-for-small,
        .visible-for-small-down,
        .visible-for-medium-only,
        .hidden-for-medium-up,
        .visible-for-medium,
        .visible-for-medium-down,
        .visible-for-large-only,
        .hidden-for-large-up,
        .visible-for-large,
        .visible-for-large-down,
        .visible-for-xlarge-only,
        .hidden-for-xlarge-up,
        .visible-for-xlarge,
        .visible-for-xlarge-down,
        .hidden-for-xxlarge-only,
        .hidden-for-xxlarge-up,
        .hidden-for-xxlarge,
        .hidden-for-xxlarge-down {
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            overflow: hidden;
            position: absolute !important;
            width: 1px;
        }

        table.hide-for-small-only,
        table.show-for-small-up,
        table.hide-for-small,
        table.hide-for-small-down,
        table.hide-for-medium-only,
        table.show-for-medium-up,
        table.hide-for-medium,
        table.hide-for-medium-down,
        table.hide-for-large-only,
        table.show-for-large-up,
        table.hide-for-large,
        table.hide-for-large-down,
        table.hide-for-xlarge-only,
        table.show-for-xlarge-up,
        table.hide-for-xlarge,
        table.hide-for-xlarge-down,
        table.show-for-xxlarge-only,
        table.show-for-xxlarge-up,
        table.show-for-xxlarge,
        table.show-for-xxlarge-down {
            display: table !important;
        }

        thead.hide-for-small-only,
        thead.show-for-small-up,
        thead.hide-for-small,
        thead.hide-for-small-down,
        thead.hide-for-medium-only,
        thead.show-for-medium-up,
        thead.hide-for-medium,
        thead.hide-for-medium-down,
        thead.hide-for-large-only,
        thead.show-for-large-up,
        thead.hide-for-large,
        thead.hide-for-large-down,
        thead.hide-for-xlarge-only,
        thead.show-for-xlarge-up,
        thead.hide-for-xlarge,
        thead.hide-for-xlarge-down,
        thead.show-for-xxlarge-only,
        thead.show-for-xxlarge-up,
        thead.show-for-xxlarge,
        thead.show-for-xxlarge-down {
            display: table-header-group !important;
        }

        tbody.hide-for-small-only,
        tbody.show-for-small-up,
        tbody.hide-for-small,
        tbody.hide-for-small-down,
        tbody.hide-for-medium-only,
        tbody.show-for-medium-up,
        tbody.hide-for-medium,
        tbody.hide-for-medium-down,
        tbody.hide-for-large-only,
        tbody.show-for-large-up,
        tbody.hide-for-large,
        tbody.hide-for-large-down,
        tbody.hide-for-xlarge-only,
        tbody.show-for-xlarge-up,
        tbody.hide-for-xlarge,
        tbody.hide-for-xlarge-down,
        tbody.show-for-xxlarge-only,
        tbody.show-for-xxlarge-up,
        tbody.show-for-xxlarge,
        tbody.show-for-xxlarge-down {
            display: table-row-group !important;
        }

        tr.hide-for-small-only,
        tr.show-for-small-up,
        tr.hide-for-small,
        tr.hide-for-small-down,
        tr.hide-for-medium-only,
        tr.show-for-medium-up,
        tr.hide-for-medium,
        tr.hide-for-medium-down,
        tr.hide-for-large-only,
        tr.show-for-large-up,
        tr.hide-for-large,
        tr.hide-for-large-down,
        tr.hide-for-xlarge-only,
        tr.show-for-xlarge-up,
        tr.hide-for-xlarge,
        tr.hide-for-xlarge-down,
        tr.show-for-xxlarge-only,
        tr.show-for-xxlarge-up,
        tr.show-for-xxlarge,
        tr.show-for-xxlarge-down {
            display: table-row;
        }

        th.hide-for-small-only,
        td.hide-for-small-only,
        th.show-for-small-up,
        td.show-for-small-up,
        th.hide-for-small,
        td.hide-for-small,
        th.hide-for-small-down,
        td.hide-for-small-down,
        th.hide-for-medium-only,
        td.hide-for-medium-only,
        th.show-for-medium-up,
        td.show-for-medium-up,
        th.hide-for-medium,
        td.hide-for-medium,
        th.hide-for-medium-down,
        td.hide-for-medium-down,
        th.hide-for-large-only,
        td.hide-for-large-only,
        th.show-for-large-up,
        td.show-for-large-up,
        th.hide-for-large,
        td.hide-for-large,
        th.hide-for-large-down,
        td.hide-for-large-down,
        th.hide-for-xlarge-only,
        td.hide-for-xlarge-only,
        th.show-for-xlarge-up,
        td.show-for-xlarge-up,
        th.hide-for-xlarge,
        td.hide-for-xlarge,
        th.hide-for-xlarge-down,
        td.hide-for-xlarge-down,
        th.show-for-xxlarge-only,
        td.show-for-xxlarge-only,
        th.show-for-xxlarge-up,
        td.show-for-xxlarge-up,
        th.show-for-xxlarge,
        td.show-for-xxlarge,
        th.show-for-xxlarge-down,
        td.show-for-xxlarge-down {
            display: table-cell !important;
        }
    }

    /* Orientation targeting */
    .show-for-landscape,
    .hide-for-portrait {
        display: inherit !important;
    }

    .hide-for-landscape,
    .show-for-portrait {
        display: none !important;
    }

    /* Specific visibility for tables */
    table.hide-for-landscape,
    table.show-for-portrait {
        display: table !important;
    }

    thead.hide-for-landscape,
    thead.show-for-portrait {
        display: table-header-group !important;
    }

    tbody.hide-for-landscape,
    tbody.show-for-portrait {
        display: table-row-group !important;
    }

    tr.hide-for-landscape,
    tr.show-for-portrait {
        display: table-row !important;
    }

    td.hide-for-landscape,
    td.show-for-portrait,
    th.hide-for-landscape,
    th.show-for-portrait {
        display: table-cell !important;
    }

    @media only screen and (orientation: landscape) {
        .show-for-landscape,
        .hide-for-portrait {
            display: inherit !important;
        }

        .hide-for-landscape,
        .show-for-portrait {
            display: none !important;
        }

        table.show-for-landscape,
        table.hide-for-portrait {
            display: table !important;
        }

        thead.show-for-landscape,
        thead.hide-for-portrait {
            display: table-header-group !important;
        }

        tbody.show-for-landscape,
        tbody.hide-for-portrait {
            display: table-row-group !important;
        }

        tr.show-for-landscape,
        tr.hide-for-portrait {
            display: table-row !important;
        }

        td.show-for-landscape,
        td.hide-for-portrait,
        th.show-for-landscape,
        th.hide-for-portrait {
            display: table-cell !important;
        }
    }

    @media only screen and (orientation: portrait) {
        .show-for-portrait,
        .hide-for-landscape {
            display: inherit !important;
        }

        .hide-for-portrait,
        .show-for-landscape {
            display: none !important;
        }

        table.show-for-portrait,
        table.hide-for-landscape {
            display: table !important;
        }

        thead.show-for-portrait,
        thead.hide-for-landscape {
            display: table-header-group !important;
        }

        tbody.show-for-portrait,
        tbody.hide-for-landscape {
            display: table-row-group !important;
        }

        tr.show-for-portrait,
        tr.hide-for-landscape {
            display: table-row !important;
        }

        td.show-for-portrait,
        td.hide-for-landscape,
        th.show-for-portrait,
        th.hide-for-landscape {
            display: table-cell !important;
        }
    }

    // Show for Touch
    // --------------------------------------------------------------
    .show-for-touch {
        display: none !important;
    }

    .hide-for-touch {
        display: inherit !important;
    }

    .touch .show-for-touch {
        display: inherit !important;
    }

    .touch .hide-for-touch {
        display: none !important;
    }

    // Tables
    // --------------------------------------------------------------
    table.hide-for-touch {
        display: table !important;
    }

    .touch table.show-for-touch {
        display: table !important;
    }

    thead.hide-for-touch {
        display: table-header-group !important;
    }

    .touch thead.show-for-touch {
        display: table-header-group !important;
    }

    tbody.hide-for-touch {
        display: table-row-group !important;
    }

    .touch tbody.show-for-touch {
        display: table-row-group !important;
    }

    tr.hide-for-touch {
        display: table-row !important;
    }

    .touch tr.show-for-touch {
        display: table-row !important;
    }

    td.hide-for-touch {
        display: table-cell !important;
    }

    .touch td.show-for-touch {
        display: table-cell !important;
    }

    th.hide-for-touch {
        display: table-cell !important;
    }

    .touch th.show-for-touch {
        display: table-cell !important;
    }

    // Screen Readers
    // --------------------------------------------------------------
    .show-for-sr {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
    }

    .show-on-focus {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
    }
    .show-on-focus:focus,
    .show-on-focus:active {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
    }

    // Print Visibility
    // --------------------------------------------------------------
    .print-only,
    .show-for-print {
        display: none !important;
    }

    @media print {
        .print-only,
        .show-for-print {
            display: block !important;
        }

        .hide-on-print,
        .hide-for-print {
            display: none !important;
        }

        table.show-for-print {
            display: table !important;
        }

        thead.show-for-print {
            display: table-header-group !important;
        }

        tbody.show-for-print {
            display: table-row-group !important;
        }

        tr.show-for-print {
            display: table-row !important;
        }

        td.show-for-print {
            display: table-cell !important;
        }

        th.show-for-print {
            display: table-cell !important;
        }
    }
}

/* stylelint-enable */

/* --------------------------------------------------------------
  ## Modal Styles
-------------------------------------------------------------- */
#specialoffer img {
    padding: 20px 0;
}

#remodal-specialoffer {
    * {
        font-weight: 400;
    }
}

.modal-2col {
    width: 49%;
    margin: 20px 0;
    float: left;
    display: block;
    padding: 10px;
}

.modal-2col a {
    color: $red;
}

.modal-2col .button {
    display: block;
    padding: 20px;
    border-radius: 5px;
    color: $white;
    background: rgb(150, 0, 0);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    border: none !important;
    transition: all 0.2s ease-in;
    margin: 20px 0 15px;
}

.modal-2col .button:hover {
    background: $light-gray;
}

.modal-2col .button-green {
    color: $white;
    background: rgb(15, 184, 15);
}

.modal-af-logo {
    max-width: 100%;
    height: auto;
}

.affiliateurl {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .modal-2col {
        width: 100%;
        float: none;
    }

    .affiliateurl {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 12px;
        padding: 10px 0;
    }
}

.cta.email-signup {
    h2 {
        color: rgb(255, 255, 255);
        font-size: 32px;

        @media screen and (min-width: 992px) { padding: 90px 0 !important; }
    }
}

/* --------------------------------------------------------------
  ## Misc.
-------------------------------------------------------------- */
.instant-access {
    margin-bottom: 30px;
}
