/* -------------------------------------------------------------------------------------------------
  # Additional Training
------------------------------------------------------------------------------------------------- */
#additional-training {
    padding: 40px 0;
}

.at-intro {
    p {
        font-size: 16px;
    }
}

.at-callouts {
    padding: 20px 0;
}
