/* -------------------------------------------------------------------------------------------------
  # Affiliate Contract
------------------------------------------------------------------------------------------------- */
.affiliate-contract {
    p:empty {
        display: none !important;
    }

    p,
    li,
    strong,
    address {
        font-family: $font;
        font-size: 16px;
    }

    li {
        margin-bottom: 20px;
    }

    h2,
    h3 {
        @include title;
        color: $tathata-red;
    }

    h3 {
        margin-top: 40px;
    }
}
