/* -------------------------------------------------------------------------------------------------
  # Affiliate Pages
------------------------------------------------------------------------------------------------- */
#affwp-affiliate-dashboard-tabs {
    li {
        margin: 0 !important;
        padding: 0 10px !important;
        border-left: 1px solid rgb(119, 119, 119);

        a {
            font-weight: 700;
            font-size: 14px;
            padding: 4px 10px;

            &:hover {
                color: $light-gray;
            }
        }

        &:first-child {
            border-left: 0;
        }
    }
}

.page-id-4591 .pageInnerContentWrap {
    background: $white;
}
