/* -------------------------------------------------------------------------------------------------
  # Customer Testimonials
------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------
  ## Banner
-------------------------------------------------------------- */
.testimonial-banner {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../img/TestimonialsBanner.jpg) center center/cover no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin: 0;
        color: white;
        font-family: $font;
        font-size: 56px;
        font-weight: 700;
        text-transform: uppercase;

        @media screen and (max-width: 450px) {
            font-size: 3.25em;
        }
    }

    .tgt-logos {
        img {
            width: 75px;
            max-width: 100%;
            height: auto;
            margin: 20px;
        }
    }
}

/* --------------------------------------------------------------
  ## Main Content
-------------------------------------------------------------- */
.testimonial-area {
    padding: 40px 0;
}

/* --------------------------------------------------------------
  ## Featured Testimonial
-------------------------------------------------------------- */
.featured-quote {
    border: none;
    background: transparent !important;
    padding-left: 35px;

    &::before {
        content: "\f10d";
        font-family: fontAwesome;
        font-size: 45px;
        position: absolute;
        top: 0;
        left: 0;
        color: $tathata-red;
        opacity: 0.6;
        width: 80px; // prevents some browsers from cutting off the content

    }

    &::after {
        content: "\f10e";
        font-family: fontAwesome;
        font-size: 45px;
        position: absolute;
        bottom: 0;
        right: 0;
        color: $tathata-red;
        opacity: 0.6;
        width: 80px; // prevents some browsers from cutting off the content
    }

    p {
        font-weight: 900;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }

    cite {
        font-family: $font;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }
}

/* --------------------------------------------------------------
  ## Button
-------------------------------------------------------------- */
.testimonial-content {
    height: 200px;
}

.submit-testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    @media screen and (min-width: 992px) {
        height: 225px;
    }

    a {
        font-size: 16px;
        font-family: $font;
        color: $white;
        background-color: $tathata-red;
        transition: all 0.5s ease;
        border: none;
        padding: 20px;
        border-radius: 50px;

        &:hover {
            background-color: rgb(25, 159, 25);
            color: $white;
        }
    }
}

.new-btn {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    color: black;
    border: 3px solid black;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    cursor: pointer !important;
}

// Button helper
.large {
    @media screen and (max-width: 450px) {
        padding: 20px 30px;
    }
}

/* --------------------------------------------------------------
  ## Testimonials
-------------------------------------------------------------- */
.testimonial-list {
    padding-top: 45px;
}

// Specific to this page template
.page-template-customer-testimonials {
    blockquote {
        background: rgb(224, 224, 224);
        font-size: 16px;

        // Hack due to the added functionality of displaying social sources. Will do for now
        border-top: none !important;
        border-bottom: none !important;

        footer {
            background: none;
            padding-top: 10px;

            cite {
                font-family: $font;
                font-style: normal;
                font-weight: 700;
            }

            &::before {
                content: "";
            }
        }
    }
}
