/* -------------------------------------------------------------------------------------------------
  # Custom Login Page
------------------------------------------------------------------------------------------------- */
.login-page {
    color: rgb(153, 153, 153);
    font-family: $font;
    font-weight: 300;
    background: url(../img/Login_bg.jpg) center center/cover no-repeat;
    display: flex;
    align-items: center;

    .checkbox label {
        display: initial;
    }
}

.login-content {
    padding: 20px 0;
    flex: 1;
    background: rgba($black, 0.6);

    .-content {
        h1 {
            font-size: 28px;
            color: $white;
            margin: 0 0 0.85em;
        }

        p {
            font-size: 14px;
            color: $white;
            margin-bottom: 0.75em;
        }

        ul {
            margin-bottom: 20px;
            padding: 0 15px;
            color: $white;
            font-size: 14px;
        }

        img {
            margin: 0 auto;
        }
    }

    .entry-content {
        text-align: center;
    }

    .login {
        display: inline-block;

        a {
            color: $white;
            font-style: italic;
            font-size: 12px;
        }

        input:not(#rememberme) {
            background-color: $white;
            border: medium none;
            width: 100%;
        }

        .checkbox label {
            font-size: 15px;
        }

        .submit {
            float: right;
        }

        .tml-action-links {
            clear: both;
            padding: 0;

            li {
                list-style: outside none none;
                text-align: left;
            }
        }

        .password-feild {
            position: relative;
        }
    }

    .tg-btn {
        display: inline-block;
        width: auto;
    }
}

.login-page .site-content {
    padding: 20% 0;
}

.btn-submit:hover {
    background-color: $light-gray !important;
}

@media screen and (max-width: 640px) {
    .input-group,
    .input-group-btn {
        border: none;
    }
}

#custom-login {
    min-height: 75vh;

    .btn-default {
        background: $tathata-red;
        display: initial;
        margin-bottom: initial;
        margin-top: 5px;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border: 1px solid transparent;
        position: initial;
        min-width: initial;
        height: 34px;
        line-height: initial;
        color: $white;
        text-shadow: initial;
        box-shadow: initial;
        font-weight: initial;
        text-transform: initial;
        text-align: initial;
        padding: 7px 9px 6px 10px;

        &::after {
            content: initial;
            width: initial;
            height: initial;
            background-image: initial;
            display: initial;
            position: initial;
            right: initial;
            top: initial;
        }

        &:hover {
            background-color: $red !important;
            border: 1px solid transparent !important;
            transition: all 0.3s ease-in-out;
        }
    }

    @media only screen and (max-width: 479px) {
        .btn-default {
            float: none;
            width: auto;
        }
    }

    .form-group label {
        display: none;
    }
}
