/* -------------------------------------------------------------------------------------------------
  # Dashboard
------------------------------------------------------------------------------------------------- */
.acc_content {
    > p {
        padding: 0 0 20px;
    }
}

@media screen and (max-width: 375px) {
    .continueTrainingWrap {
        a {
            width: 100%;

            &:nth-child(1) {
                margin-bottom: 10px;
            }

            &:nth-child(2) {
                padding-right: 25px !important;
                padding-left: 15px !important;
            }
        }

        .prevArrowLink,
        .nextArrowLink {
            height: 18px;
        }

        .nextArrowLink {
            text-align: right;
        }
    }
}

@media screen and (min-width: 375px) {
    .continueTrainingWrap {
        a {
            width: 100%;

            &:nth-child(2) {
                width: 70%;
                padding: 8px 15px !important;
            }

            &:nth-child(4) {
                width: auto;
            }

            &:nth-child(5) {
                width: auto;
            }
        }
    }

}

.right_panel {
    img {
        width: 100%;
        height: auto;
    }
}

.single-lesson {
    .nextArrowLink {
        text-align: right !important;
    }
}

// Submit Button
// --------------------------------------------------------------
.profileDetailWrap {
    .new-btn.large {
        font-size: 16px;
        font-family: $font;
        color: $white;
        background-color: $tathata-red;
        transition: all 0.5s ease;
        border: none;
        padding: 20px;
        border-radius: 50px;
        margin: 0 auto 20px;

        &:hover {
            background-color: rgb(25, 159, 25);
            color: $white;
        }
    }
}
