/* -------------------------------------------------------------------------------------------------
  # Golf Schools
------------------------------------------------------------------------------------------------- */
.page-section {
    padding-top: 60px;
    padding-bottom: 60px;

    .title {
        font-size: 30pt;
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        @extend %small-title;
    }

    img {
        margin-top: 20px;
    }
}
