/* -------------------------------------------------------------------------------------------------
  # Redesigned Homepage with Video Hero
------------------------------------------------------------------------------------------------- */
#homepage-content {
    .container {
        max-width: initial;
    }

    h2,
    h3 {
        margin-top: 0;
    }

    .cta {
        padding: 40px 0;
        background: $white;
        position: relative;
        z-index: 10;

        &.-light {
            .cta-title {
                color: $black;
            }
        }

        h1 {
            font-size: 2.15rem;

            @include breakpoint(small) {
                font-size: 2.85rem;
            }

            @include breakpoint(large) {
                font-size: 3.5rem;
            }
        }

        img {
            margin: 0 auto 20px;
        }

        a {
            margin: 0 auto;
            max-width: 250px;
            font-size: 1.65rem;

            @include breakpoint(small) {
                font-size: 2rem;
            }
        }

        .cta-title {
            text-transform: capitalize;

            @media screen and (max-width: 350px) {
                font-size: 20px;
            }
        }

        .flex-column {
            @media screen and (min-width: 768px) {
                height: 275px;
            }
        }
    }

    .btn-new {
        padding: 0.5rem 2.5rem;
        max-width: 85%;

        @include breakpoint(small) {
            max-width: 65%;
        }
    }

    #testimonials-globe {
        position: relative;
        z-index: 10;
    }
}

/* --------------------------------------------------------------
  ## Video Hero
-------------------------------------------------------------- */
.home-hero {
    position: relative;
    max-height: 80vh;
}

.video {
    display: none;
    margin-bottom: 1.85em;

    @media screen and (min-width: 1025px) {
        display: block;
    }
}

.video-overlay,
.video-swap {
    text-align: center;

    h1 {
        font-family: $font-header;
        font-size: 3rem;
        font-weight: 900;
        color: $white;
        text-shadow: 7px 3px 15px $black;
        text-transform: uppercase;
        margin: 0 auto;

        @include breakpoint(medium) {
            font-size: 6rem;
        }

        @include breakpoint(xlarge) {
            font-size: 8rem;
        }
    }

    .tg-btn {
        margin: 20px auto 0;
        font-size: 1.65rem;
        display: inline-block;
        border: 2px solid $tathata-gold;
        width: auto;
        padding: 10px 30px;

        @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
            max-width: 300px;
        }

        @include breakpoint(small) {
            font-size: 2rem;
            margin: 40px auto 0;
            max-width: 300px;
        }
    }
}

.video-overlay {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    display: none;

    @media screen and (min-width: 1025px) {
        display: block;
    }
}

.video-swap {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 325px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    @media only screen and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 1025px) { // Just keep mobile view until past iPad landscape
        display: none;
    }

    > .container {
        margin-bottom: 40px;
    }
}

/* --------------------------------------------------------------
  ## Content
-------------------------------------------------------------- */
.content-container {
    padding: 60px 0;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        min-height: 420px;
    }

    .content p {
        font-family: $font-header;
        font-size: 1.5em;
        line-height: 1.5;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 2.75em;
        }
    }

    &[style*="background"] {
        color: $white;
    }

    .content-image {
        margin: 10px auto;
    }
}

/* --------------------------------------------------------------
  ## Solution Content
-------------------------------------------------------------- */
.solution-container {
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: 992px) {
        flex-flow: row nowrap;
        height: 300px;
    }
}

.solution-content {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 3em;
    background: url(../img/TG_revolution_left_BG.jpg) center center/cover no-repeat;

    @media screen and (min-width: 992px) {
        flex: 50%;
        min-width: 50%;
    }

    img {
        @media screen and (min-width: 600px) {
            max-width: 500px !important;
        }
    }
}

.solution-sliders {
    flex: auto;

    @media screen and (min-width: 992px) {
        flex: 50%;
        min-width: 50%;
    }
}

#solution-slider {
    .solution-slide {
        min-height: 300px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 3em 5em;

        @media screen and (min-width: 992px) {
            padding: 0 5em;
        }

        &[style*="background"] * {
            color: $white;
        }
    }

    .title {
        font-size: 2em;
    }

    .content {
        font-size: 1.25em;
    }
}
