/* -------------------------------------------------------------------------------------------------
  # Movement Specialists - Redesign
------------------------------------------------------------------------------------------------- */
.page-template-ms-redesign {
    .ms-container {
        font-size: 16px !important;

        .container { // Set new max-width more in line with the default Bootstrap
            max-width: 1200px;
        }

        .ms-title {
            margin: 0;
            padding: 0 0 1.15em;
            font-family: $font-header;
            font-size: $h1-font-size;
            font-weight: $h1-font-weight;
            line-height: $h1-line-height;
            text-transform: uppercase;
            text-align: center;
        }

        h2 {
            margin: 0;
            padding: $h2-padding;
            font-family: $font-header;
            font-size: $h2-font-size;
            font-weight: $h2-font-weight;
            line-height: $h2-line-height;
            text-align: center;
        }

        p {
            margin: 0;
            padding: $p-padding;
            font-family: $font;
            font-size: $p-font-size;
            font-weight: $p-font-weight;
            line-height: $p-line-height;
            text-align: left;
        }

        em,
        strong {
            text-transform: none;
            font-style: normal;
            color: $tathata-red;
        }
    }

    /* --------------------------------------------------------------
      ## Call to Action
    -------------------------------------------------------------- */
    .ms-cta {
        padding: 20px 0;
        background-color: $dark-gray;

        h1 {
            color: $white;
            padding: 0 0 25px;

            @media screen and (max-width: 992px) { font-size: 2em; }
        }
    }

    /* --------------------------------------------------------------
      ## Introduction Area
    -------------------------------------------------------------- */
    .ms-intro {
        padding: 60px 10px;
        text-align: center;

        span {
            display: block;
            font-family: $font;
            font-weight: 700;
            font-style: italic;
            font-size: 1.125em;
            text-transform: uppercase;
        }

        img {
            margin: 15px 0;
        }

        h2 {
            display: block;
            margin: 0 auto;
            max-width: 800px;
            font-size: 1.25em;
            line-height: 1.25;
        }
    }

    .ms-intro--logo { // Tathata CMS logo
        background: url(../img/tathata-cms-logo.png) center center/contain no-repeat;
        margin: 0 auto;
        width: auto;
        max-width: 800px;
        height: auto;
        min-height: 65px;

        @media screen and (min-width: 768px) { min-height: 125px; }
    }

    /* --------------------------------------------------------------
      ## Details Section
    -------------------------------------------------------------- */
    .ms-intro-details {
        padding: 60px 10px;
        background: url(../img/MainBg.jpg) center center no-repeat;
        background-size: cover;

        .ms-title {
            color: $tathata-red;
            display: block;
            margin: 0 auto;
            max-width: 560px;
        }

        img {
            display: block;
            margin: 0 auto 30px;
        }
    }

    .ms-content {
        max-width: 750px;
        margin: 0 auto;
    }

    /* --------------------------------------------------------------
      ## Training Opportunities
    -------------------------------------------------------------- */
    .ms-training {
        padding-top: 1.25em;

        .ms-icon--grid { // Icon Grid
            clear: both;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                flex: 1 1 auto;
                text-align: center;
                padding: 0 5px;
                margin-bottom: 60px;
                width: 20%;
            }

            a {
                display: block;
                cursor: pointer;

                &:hover {
                    text-decoration: none;

                    span {
                        color: $red;
                    }

                    .ms-icon-container {
                        background-color: $red;
                    }
                }

                .ms-icon-container {
                    margin: 0 auto;
                    padding-top: 10px;
                    width: 70px;
                    height: 70px;
                    background-color: rgba($gray, 0.95);
                    border-radius: 100px;
                    transition: all 0.4s ease;

                    @media screen and (min-width: 768px) {
                        width: 125px;
                        height: 125px;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    max-width: 50px;
                    margin: 0 auto;

                    @media screen and (min-width: 768px) { max-width: 105px; }
                }

                span {
                    font-family: $font;
                    font-size: 12px;
                    font-weight: 700;
                    text-align: center;
                    color: black;
                    display: block;
                    margin: 20px auto 0;
                    max-width: 150px;

                    @media screen and (min-width: 768px) { font-size: 14px; }
                }

                p {
                    font-family: $font;
                    font-size: 12px;
                    font-weight: 700;
                    font-style: italic;
                    width: 100%;
                    color: black;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                }
            }
        }
    }

    /* --------------------------------------------------------------
      ## Description Area
    -------------------------------------------------------------- */
    #new-ms-training.ms-training .ms-description--container {
        display: none;

        &:first-of-type {
            display: block;
        }

        @media screen and (max-width: 768px) { display: none !important; }
    }

    .ms-description--container > .container-fluid {
        padding: 0;

        .ms-description--image {
            max-width: 100%;
            min-height: 400px;

            @media screen and (min-width: 992px) { height: 450px; }
        }

        .ms-description--detail {
            background: $white;
            height: 400px;
            display: flex;
            align-items: center;

            @media screen and (min-width: 992px) {
                padding: 0 10px 40px 0;
                height: 450px;
            }

            div {
                padding: 0 10px;

                @media screen and (min-width: 992px) { padding: 0; }

                h1 {
                    padding: 0 0 25px;
                    text-align: left;

                    @media screen and (max-width: 992px) { font-size: 24px; }
                }

                p {
                    line-height: 1.5;
                    padding: 0;
                }
            }
        }
    }

    /* --------------------------------------------------------------
      ## Informational Break
    -------------------------------------------------------------- */
    .ms-info {
        background-color: $gray;
        width: auto;
        height: auto;
        min-height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 992px) { min-height: 500px; }

        > div {
            display: flex;
            flex-direction: column;
            width: 80%;

            @media screen and (min-width: 992px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

    .ms-info-content {
        @media screen and (min-width: 992px) { width: 50%; }

        .ms-title {
            text-transform: capitalize;
            line-height: 1.25;
            color: $white;
            text-shadow: 7px 3px 15px $black;
            padding: 0;
            font-size: 2.25em;

            @media screen and (min-width: 992px) { text-align: left; }
        }

        p {
            text-shadow: 7px 3px 15px $black;
            color: $white;
            text-align: center;
            padding-top: 30px;

            @media screen and (min-width: 992px) {
                text-align: initial;
                padding-top: 0;
            }
        }
    }

    /* --------------------------------------------------------------
      ## Sales Pitch Area
    -------------------------------------------------------------- */
    .ms-sales {
        padding: 30px 10px;
        text-align: center;

        @media screen and (min-width: 992px) { padding: 60px 10px; }

        .ms-title,
        h2 {
            text-transform: capitalize;
            line-height: 1.25;
            display: block;
            margin: 0 auto;
            max-width: 850px;
            padding: 0 0 0.5em;
        }

        h2 {
            font-size: 2.35em;
        }

        hr {
            max-width: 500px;
            height: 10px;
        }

        strong {
            display: block;
            font-family: $font-header;
            font-size: 20px;
            color: $black;
        }

        .ms-em {
            display: block;
            margin: 0 0 30px;
            color: $black;
            font-style: italic;
            font-size: 16px;
        }

        .tg-btn {
            max-width: 300px;
            margin: 0 auto;
        }
    }

    /* --------------------------------------------------------------
      ## Sales Pitch Content
    -------------------------------------------------------------- */
    .ms-sales-content {
        padding: 30px 10px;
        transition: all 0.5s ease;
        background-color: rgb(246, 246, 246);

        h2 {
            text-transform: capitalize;
            padding: 30px 0;
        }

        em {
            text-transform: uppercase;
        }
    }

    /* --------------------------------------------------------------
      ## Tathata Promise
    -------------------------------------------------------------- */
    .ms-promise {
        padding: 30px 10px;
        background: linear-gradient(rgba($red, 0.2), rgba($red, 0.6)), url(../img/home-ph-pov_01.jpg) center center / cover no-repeat;

        @media screen and (min-width: 992px) { padding: 60px 10px; }

        h1 {
            margin: 0;
            color: $white;
            text-transform: capitalize;
            line-height: 1.25;
            text-shadow: 7px 3px 15px $black;
        }

        .ms-content {
            max-width: 600px;
        }

        p {
            color: $white;
            text-shadow: 7px 3px 15px $black;
        }
    }

    /* --------------------------------------------------------------
      ## Comparison Charts
    -------------------------------------------------------------- */
    #msComparison {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(246, 246, 246);

        h1 {
            max-width: 90%;

            @media screen and (max-width: 992px) { font-size: 2em; }
        }

        .msComparison--container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;

            @media screen and (min-width: 992px) {
                flex-direction: row;
                width: 85%;
            }

            @media screen and (min-width: 1200px) { width: 75%; }

            .msComparison-item {
                border: 2px solid $tathata-red;
                margin: 10px;
                padding: 20px 40px;
                width: 100%;
                background: $white;

                @media screen and (min-width: 992px) { width: 48%; }

                &:nth-child(1) {
                    background: rgb(35, 31, 32);

                    li {
                        color: $white;
                    }
                }

                h3 {
                    margin: 0;
                    padding: 10px 0;
                    font-weight: 700;
                    font-size: 1.5em;
                    font-family: $font;
                    text-align: center;
                    text-transform: uppercase;
                    color: $tathata-red;

                    @media screen and (min-width: 992px) { font-size: 1.35em; }
                }
            }

            // Custom list item to add custom coloring to the numbers
            ol {
                padding: 0;
                list-style: none; // Remove the default numbers
                counter-reset: section; // Start a new counter at 0
                display: table; // To help control indentation of wrapping list item text

                li {
                    font-weight: 400;
                    font-size: 1em;
                    font-family: $font;
                    line-height: 1.6;
                    display: table-row;

                    &::before {
                        counter-increment: section; // Increment each new list item by 1
                        content: counter(section) ". "; // Manually add the . separator
                        display: table-cell; // Prevent text from wrapping underneath
                        padding-right: 5px; // Manually add the spacing
                        font-weight: 700;
                        color: $tathata-red;
                    }
                }
            }
        }
    }
}
