/* -------------------------------------------------------------------------------------------------
  # Nothing Found
------------------------------------------------------------------------------------------------- */
#nothing-found {
    padding: 60px 0;

    p {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 0.85em;
    }
}
