/* -------------------------------------------------------------------------------------------------
  # Search Results Page
------------------------------------------------------------------------------------------------- */
.search-results {
    article {
        margin-bottom: 40px;
    }
}
