/* -------------------------------------------------------------------------------------------------
  # Essence Story Page
------------------------------------------------------------------------------------------------- */
.tathata-story {
    padding-bottom: 60px;

    h1 {
        font-family: $font-header;
        font-size: 2.85em;
        font-weight: $h1-font-weight;
        line-height: $h1-line-height;
        padding: 0 0 25px;
        margin-top: 0;
        text-align: center;

        @media screen and (min-width: 992px) {
            font-size: 3em;
            text-align: initial;
        }
    }

    span {
        color: $tathata-red;
    }

    .sub-title {
        display: block;
        font-size: 0.5em;
        color: initial;
    }

    .signature {
        display: block;
    }

    .alignright {
        @media screen and (max-width: 992px) {
            float: none;
            margin: 0 auto;
            max-width: 100% !important;
        }
    }

    figcaption {
        text-align: center;
        margin: 1em 0 0;

        @media screen and (max-width: 992px) { margin: 1.5em 0; }
    }
}
