/* -------------------------------------------------------------------------------------------------
  # Tathata Training Center
------------------------------------------------------------------------------------------------- */
// Follow Ups
// --------------------------------------------------------------
.th-follow-ups,
.th-gradschool,
.th-open-training,
.th-video {
    padding: 40px 0;

    .title {
        font-size: 30pt;
        // color: $tathata-red;
        text-align: center;
    }

    h2 {
        @extend %small-title;
        margin-top: 0;
    }

    ul a {
        font-weight: 700;
    }

    a[href*="mailto:"] {
        color: $tathata-red;
        font-weight: 700;
    }

    .tg-btn {
        width: auto;
        max-width: 250px;
        margin-top: 15px;
        margin-bottom: 0;
    }
}

.th-open-training,
.th-video {
    background: rgba($black, 0.1);
}

#info-break {
    height: 450px;
    background: linear-gradient(rgba($black, 0), rgba($black, 0.1)), url(../img/outdoorBg.jpg) center center/cover no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .content {
        padding-bottom: 40px;

        @media screen and (min-width: 768px) {
            padding-bottom: 60px;
        }
    }

    q {
        color: $white;
        font-size: 2em;
        font-style: italic;
        font-weight: 500;
    }

    p {
        color: $dark-red;
        font-size: 1.25em;
        text-transform: uppercase;
        font-family: $font;
        font-weight: 700;
        margin-top: 5px;
    }
}

.tathata-training-center {
    .title:not(.focus-area_title) {
        text-align: center;
    }
}
