/* -------------------------------------------------------------------------------------------------
  # Tathata Headquarters
------------------------------------------------------------------------------------------------- */
#tathata-headquarters {
    p,
    ul {
        font-size: 16px;
    }

    /* --------------------------------------------------------------
      ## Info Break
    -------------------------------------------------------------- */
    .info-break {
        height: 450px;
        background: linear-gradient(rgba($black, 0), rgba($black, 0.1)), url(../img/outdoorBg.jpg) center center/cover no-repeat;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .content {
            padding-bottom: 40px;

            @media screen and (min-width: 768px) {
                padding-bottom: 60px;
            }
        }

        q {
            color: $white;
            font-size: 2em;
            font-style: italic;
            font-weight: 500;
        }

        p {
            color: $dark-red;
            font-size: 1.25em;
            text-transform: uppercase;
            font-family: $font;
            font-weight: 700;
            margin-top: 5px;
        }
    }
}

/* --------------------------------------------------------------
  ## Featured Sections
-------------------------------------------------------------- */
.th-featured-sections {
    padding: 40px 0;

    .-grid {
        .media-item-link {
            margin-bottom: 0;
            flex: 100%;

            @media screen and (min-width: 768px) {
                flex: 1 50%;
                max-width: 50%;
            }

            @media screen and (min-width: 992px) {
                flex: 1 23.5%;
                max-width: 23.5%;
            }
        }
    }

    .media-item {
        flex-flow: column nowrap;
        text-align: center;

        .image {
            flex: 1 0 auto;

            @media screen and (min-width: 992px) {
                max-width: 45%;
            }
        }

        .content {
            flex: 1 0 auto;
        }
    }
}

/* --------------------------------------------------------------
  ## Chapter Follow Ups
-------------------------------------------------------------- */
.th-follow-ups {
    padding: 40px 0;
}

/* --------------------------------------------------------------
  ## Grad School
-------------------------------------------------------------- */
.th-gradschool {
    padding: 40px 0;
}

/* --------------------------------------------------------------
  ## Open Training
-------------------------------------------------------------- */
.th-open-training {
    padding: 40px 0;
    background: rgba($black, 0.1);
}

/* --------------------------------------------------------------
  ## Video
-------------------------------------------------------------- */
.th-video {
    padding: 40px 0;
    background: rgba($black, 0.1);
}

/* --------------------------------------------------------------
  ## Bookly Form
-------------------------------------------------------------- */
.bookly-form {
    background-color: $white;
    margin-top: 15px;

    section[style*="background"] & {
        background: none;

        .ab-booking-form,
        .ab-progress-bar .ab-step-tabs a {
            color: $white !important;
        }

        .ab-progress-bar .ab-step-tabs .step {
            background: $white;
        }

        .ab-formGroup .ab-formField .ab-formElement,
        .intl-tel-input .country-list .country-name {
            color: $black;
        }
    }
}
