// AIGA Plug
// --------------------------------------------------------------
.official-ajga {
    font-size: 12px;
    color: $white;
    width: 70%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    .header60day & {
        @include breakpoint(small) {
            left: unset;
            right: 5%;
            width: auto;
            text-align: initial;
            transform: none;
        }
    }

    .hero & {
        @include breakpoint(medium) {
            left: unset;
            right: 5%;
            width: auto;
            text-align: initial;
            transform: none;
        }
    }

    img {
        display: inline-block !important;
        max-width: 35px !important;
    }
}
