/* -------------------------------------------------------------------------------------------------
  # Black Bar Menu
------------------------------------------------------------------------------------------------- */
#blackbar-menu {
    border: 0;
    line-height: 1;
    padding: 0;
    width: auto;
    display: block;
    border-radius: 0;
    height: 40px;
    background: rgb(11, 11, 11);
    margin: 0;

    ul,
    li,
    a {
        border: none;
        line-height: 1;
        margin: 0;
        padding: 0;
    }

    > ul > li > ul > li a:hover {
        background: transparent;
    }

    > div > div > ul {
        list-style: inside none;
        margin: 0;
        padding: 0;

        > li {
            list-style: inside none;
            float: left;
            display: inline-block;
            position: relative;
            margin: 0;
            padding: 0;
        }
    }

    > ul > li > a {
        outline: none;
        display: block;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
        font-weight: 700;
        font-size: 13px;
        font-family: $font;
        border-right: 1px solid rgb(8, 8, 8);
        color: $white;
        padding: 12px 20px;

        &::after {
            content: "";
            position: absolute;
            border-right: 1px solid;
            top: -1px;
            bottom: -1px;
            right: -2px;
            z-index: 99;
            border-color: rgb(60, 60, 60);
        }
    }

    > ul > li:first-child > a {
        border-radius: 5px 0 0 5px;
    }

    ul .menu-item-has-children:hover > a::after {
        top: 0;
        bottom: 0;
    }

    ul .menu-item-has-children:hover > ul,
    ul .menu-item-has-children:hover > div {
        display: block;
    }

    ul li {
        ul {
            width: 125px;
            text-align: center;
            border-radius: 0 !important;
        }

        > div,
        > ul {
            display: none;
            width: auto;
            position: absolute;
            top: 38px;
            z-index: 999;
            padding: 10px 0;
        }

        li {
            display: block;
            list-style: inside none;
            position: relative;
            margin: 0;
            padding: 0;

            a {
                outline: none;
                display: block;
                position: relative;
                border-bottom: 1px solid rgb(30, 30, 30) !important;
                clear: both;
                font-weight: 300;
                line-height: 1.42857143;
                white-space: nowrap;
                padding: 9px 21px;
                text-shadow: 2px 1px 4px black;
                color: rgb(212, 212, 212);
                font-size: 12px;
                text-transform: uppercase;
                font-family: $font;

                &:hover {
                    background: $tathata-red;
                    color: $white;
                }
            }
        }
    }

    > ul > .menu-item-has-children > a::before {
        content: "";
        position: absolute;
        top: 18px;
        right: 6px;
        border-top: 5px solid $white;
    }

    > ul > .menu-item-has-children:hover > a {
        padding-bottom: 14px;
        z-index: 999;
        border-color: rgb(63, 63, 63);

        &::before {
            top: 19px;
        }
    }

    ul ul ul {
        position: absolute;
    }

    ul ul li:hover > ul {
        left: 100%;
        top: -10px;
        border-radius: 5px;
    }

    ul ul a:hover {
        background: $tathata-red;
        color: $white;
    }

    > ul > .menu-item-has-children > a:hover::before {
        border-top: 5px solid $white;
    }

    .learner-visible,
    .cms-invisible {
        position: relative;
        float: left;
    }

    .ms-nav .cy a {
        width: 20px !important;
        height: 23px !important;
        display: block;
        opacity: 0;
    }

    #menu-lesson-menu .cy a {
        height: 100% !important;
        display: block;
        opacity: 0;
    }

    #menu-lesson-menu .cy ul li a {
        opacity: 1;
    }

    .pageTitleWrap::after {
        display: none;
    }

    .menu-lesson-menu-container {
        display: inline-block;
        clear: none;
        list-style: inside none;
    }

    .ms-nav {
        display: inline-block;
        clear: none;
        list-style: inside none;
        position: relative;
    }

    a.c_f::after {
        content: "/";
        padding-left: 8px;
    }

    .page-id-1294 .chapterLinks .wpmenucartli {
        display: none !important;
    }

    .chapterLinks #menu-item-4420 {
        border-right: 0;
    }

    .c_my_account {
        position: relative;
        float: left;
    }

    li {
        list-style: none;
    }

    .ii-menu {
        width: 22px;
    }

    .cy {
        height: 23px;
        margin: 9px 20px 8px 0 !important;
        cursor: pointer;
    }

    .iii-menu {
        background: url(../img/movement-specialist-icon.png) left bottom no-repeat;
        width: 20px;
    }

    .cy .sub-menu .sub-menu {
        top: 0 !important;
        border-top: 0 !important;
    }

    .i-menu {
        background: url(../img/profile-icon-gray.png) left bottom no-repeat;
        width: 19px;
    }

    .cy .sub-menu {
        top: 32px !important;
        background: rgb(46, 46, 46) !important;
        border-top: 8px solid rgb(11, 11, 11) !important;
        padding: 0 !important;
    }
}

.cy {
    height: 23px;
    margin: 9px 20px 8px 0 !important;
    cursor: pointer;

    .sub-menu {
        top: 32px !important;
        background: rgb(46, 46, 46) !important;
        border-top: 8px solid rgb(11, 11, 11) !important;
        padding: 0 !important;

        .sub-menu {
            top: 0 !important;
            border-top: 0 !important;
        }
    }
}

.ms-nav .cy a {
    width: 20px !important;
    height: 23px !important;
    display: block;
    opacity: 0;
}

#menu-lesson-menu .cy a {
    height: 100% !important;
    display: block;
    opacity: 0;
}

#menu-lesson-menu .cy ul li a {
    opacity: 1;
}

.pageTitleWrap::after {
    display: none;
}

.menu-lesson-menu-container {
    display: inline-block;
    clear: none;
    list-style: inside none;
}

.ms-nav {
    display: inline-block;
    clear: none;
    list-style: inside none;
    position: relative;
}

.c_f::after {
    content: "/";
    padding-left: 8px;
}

.page-id-1294 .chapterLinks .wpmenucartli {
    display: none !important;
}

.chapterLinks #menu-item-4420 {
    border-right: 0;
}

.c_my_account {
    position: relative;
    float: left;
}
