/* -------------------------------------------------------------------------------------------------
  # Booking Modules
------------------------------------------------------------------------------------------------- */
.booking {
    background-color: rgb(20, 20, 20);
}

.booking-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.booking-title {
    @extend .title;
    font-size: 28px;
    text-shadow: 7px 3px 15px $black;
}

.booking-content {
    margin-bottom: 0;
    padding: 10px 20px 0;
    font-family: $font;
    font-size: 16px;
    color: rgb(204, 204, 204);

    span {
        color: $red;
    }
}

.booking-list {
    margin: 0;
    padding: 10px 20px 20px;
}

.booking-item {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    background-color: rgb(68, 68, 68);
    margin-bottom: 10px;
    padding: 0 10px;
    color: $white;
    font-size: 14px;

    &:last-child {
        margin-bottom: 0;
    }
}

.booking-link {
    color: $white;
    background-color: $dark-red;
    margin: 0;
    padding: 0.15em 0.5em;
    border-radius: 3px;

    &:hover {
        background-color: $green;
        color: $white;
        transition: all 0.3s ease-in-out;
    }
}
