/* -------------------------------------------------------------------------------------------------
  # Buttons
------------------------------------------------------------------------------------------------- */
.tg-btn {
    display: block;
    margin: 0 0 20px;
    padding: $tg-btn-padding;
    background-color: $tathata-red;
    color: $white;
    font-family: $font-header;
    text-align: center;
    text-transform: uppercase;
    font-size: $tg-btn-font-size;
    line-height: $tg-btn-line-height;
    border-radius: 50px;
    border: none;
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
        background-color: $red;
        color: $white;
        text-decoration: none;
    }
}

.tg-btn-clear {
    @extend .tg-btn;
    border: 1px solid $white;
    background-color: rgba($black, 0.5);

    &:hover {
        background-color: $black;
    }
}

.btn-new {
    font-family: $font;
    font-weight: $tg-btn-font-weight;
    color: $white;
    line-height: 1.5;
    font-style: normal;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: block;
    max-width: 75%;
    border-radius: 50px;
    background-color: $tathata-red;
    text-transform: uppercase;
    font-size: 0.85em;
    text-align: center;
    transition: all 0.3s ease-out;

    @media screen and (min-width: 365px) {
        max-width: 50%;
    }

    @media screen and (min-width: 540px) {
        max-width: 40%;
    }

    @media screen and (min-width: 992px) {
        margin: 0;
    }

    &:hover {
        background-color: $tathata-green;
        color: $white;
        text-decoration: none;
    }
}

.buynow-button {
    @extend %buynow-button;
}

.btn-square,
.tg-primary {
    background-color: $tathata-green;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 12px;
    color: $white !important;
    text-transform: uppercase;
    transition: all 0.2s ease-in;

    &::after {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 14px;
        margin-left: 10px;
    }

    &:hover {
        background-color: lighten($tathata-green, 5%);
    }
}
