/* -------------------------------------------------------------------------------------------------
  # Cards
------------------------------------------------------------------------------------------------- */
.card {
    display: flex;
    flex-direction: column;
    background-color: $white;

    @media screen and (max-width: 992px) { margin-bottom: 2em; }

    > .card-title * {
        text-align: center;
        font-size: 28px;

        &:empty {
            display: none;
        }
    }

    > .card-image img {
        margin: 0 auto !important;
        display: block;
        max-width: 100%;
        height: auto;
    }

    > .card-content {
        padding: 1.5rem;

        p {
            font-size: 16px;
            padding-bottom: 1em;
        }
    }

    /* --------------------------------------------------------------
      ## Mimic the Card Navigation
    -------------------------------------------------------------- */
    &.-as-nav-link {
        padding: 20px;
        background: rgb(85, 85, 85);
        color: $white;
        min-height: 250px;
        justify-content: center;
        margin: 0;
        border: 1px solid rgb(191, 191, 191);

        > .card-title * { // Title
            text-align: center;
            padding: 0.5em 0;
            color: rgb(255, 255, 255);
            margin: 0;
            font-size: 24px;
            line-height: 1.25;
            text-transform: capitalize;
            font-family: $font;
            font-weight: 300;
        }

        > .card-content p {
            text-align: center;
            font-family: $font;
            font-weight: 300;
        }
    }

    /* --------------------------------------------------------------
      ## Card Variants
    -------------------------------------------------------------- */
    &.-dark {
        background-color: rgba($black, 0.85);
        color: rgba($white, 0.8);
    }

    &.-round { border-radius: 20px; }

    &.-uppercase { text-transform: uppercase; }
}

/* --------------------------------------------------------------
  ## Card Anchors
-------------------------------------------------------------- */
.card-link {
    color: $black;
    font-size: 16px;
    display: block;

    @media screen and (max-width: 768px) { margin: 10px 0; }
}

.card-link:hover .card.-as-nav-link {
    background: rgb(201, 0, 0);
    border: 1px solid rgb(51, 51, 51);
    transition: all 0.6s ease;

    > .card-title * {
        color: $white;
        transition: all 0.6s ease;
    }
}
