/* -------------------------------------------------------------------------------------------------
  # Call to Action
------------------------------------------------------------------------------------------------- */
.cta {
    padding: 60px 20px;
    background-color: rgb(27, 27, 27);

    .cta-title {
        margin: 0 0 0.5em;
        text-align: center;
        font-family: $font-header;
        font-weight: $h1-font-weight;
        line-height: $h1-line-height;
        color: $white;
    }

    .cta-content {
        font-size: 1.325em;
        font-family: $font;
        text-align: center;
        color: $white;
    }

    span {
        color: $tathata-red;
    }
}

/* --------------------------------------------------------------
  ## Variants
-------------------------------------------------------------- */
.cta.-grow-the-game {
    padding: 30px 10px;
    min-height: 300px;

    h1 {
        margin: 0 0 20px;
        text-align: center;
        color: $white;
        font-family: $font;
        font-weight: 700;
    }

    p {
        text-align: center;
        font-size: 18px;
        color: $white;
    }
}
