/* -------------------------------------------------------------------------------------------------
  # Focus Areas
------------------------------------------------------------------------------------------------- */
.focus-areas {
    display: flex;
    flex-wrap: wrap;
    min-height: 375px;
}

.focus-area {
    flex: 100%;
    min-height: 250px;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    @include breakpoint(small) {
        flex: 1 20%;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($black, 0.3);
        transition: all 0.3s ease;
    }

    &:hover::before {
        background: rgba($black, 0.7);
    }
}

.focus-area_title {
    @extend .title;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;

    @include breakpoint(medium) {
        .focus-area:hover > & {
            display: none;
        }
    }
}

.focus-area_content {
    text-align: center;
    color: $white;
    z-index: 1;

    @include breakpoint(medium) {
        display: none;

        .focus-area:hover > & {
            display: block;
        }
    }
}

.focus-areas_3 {
    .focus-area {
        @include breakpoint(small) {
            flex: 1 33.333%;
            min-width: 33.333%;
        }
    }
}

.focus-areas_4 {
    .focus-area {
        @include breakpoint(small) {
            flex: 1 50%;
            min-width: 50%;
        }

        @include breakpoint(medium) {
            flex: 1 25%;
            min-width: 25%;
        }
    }
}

.focus-areas_5 {
    .focus-area {
        @include breakpoint(small) {
            flex: 1 50%;
            min-width: 50%;
        }

        @include breakpoint(medium) {
            flex: 1 20%;
            min-width: 20%;
        }
    }
}
