/* -------------------------------------------------------------------------------------------------
  # Gravity Form Modal
------------------------------------------------------------------------------------------------- */
.gravity-form-modal {
    margin: 0.5em 0;
    padding: 0.75em 1.85em;
    display: inline-block;
    color: $white !important;
    background: $tathata-red;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background: $tathata-green;
    }
}
