/* -------------------------------------------------------------------------------------------------
  # Media Card
------------------------------------------------------------------------------------------------- */
.media-card {
    display: flex;
    flex-flow: column nowrap;

    > .image {
        flex: 1;

        img,
        .img-responsive {
            margin: 0 auto !important;
        }
    }

    > .content {
        flex: auto;
        color: $black;
        padding: 20px;

        .title {
            text-transform: uppercase;
            font-size: 28px;
            color: $black;
            text-align: center;
        }
    }
}

/* --------------------------------------------------------------
  ## When inside a grid
-------------------------------------------------------------- */
.-grid {
    .media-card-link {
        @extend .media-item-link;

        @media screen and (min-width: 992px) {
            flex: 1 33%;
            max-width: 33%;
        }
    }
}
