/* -------------------------------------------------------------------------------------------------
  # Training Action Buttons
------------------------------------------------------------------------------------------------- */
.training-actions {
    padding: 15px 10px;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-radius: 5px;

    a:nth-child(1) {
        @media screen and (min-width: 768px) {
            max-width: 40%;
            margin-right: 10px;
        }
    }

    a:nth-child(2) {
        @media screen and (max-width: 768px) {
            margin: 0;
        }
    }

    #reset {
        background-color: rgb(150, 150, 150);

        &:hover { background-color: $light-gray; }
    }

    // Adjust the margin top if it is in the "rightPanel"
    .col-xs-12.col-sm-5.col-md-5.rightPanel & {
        margin-top: 50px;
    }
}

.training-actions--button {
    margin: 0 0 0.5em;
    padding: 0.5em;
    flex: 0 0 100%;
    color: rgb(236, 236, 236);
    background-color: $dark-red;
    text-align: center;
    font-family: $font;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 5px;

    &:hover {
        color: rgb(236, 236, 236);
        background-color: $light-gray;

        &:nth-child(even) {
            background-color: green;
        }
    }

    &:active,
    &:focus,
    &:visited { color: rgb(236, 236, 236); }

    &:nth-child(even)::before {
        content: "\f105";
        font-family: fontAwesome;
        font-size: 20px;
        position: absolute;
        right: 5%;
        top: 5px;
    }

    &:nth-child(odd)::before {
        content: "\f104";
        font-family: fontAwesome;
        font-size: 20px;
        position: absolute;
        left: 5%;
        top: 5px;
    }

    @media screen and (min-width: 768px) {
        margin: 0;
        flex: 1 1 45%;
    }

    @media screen and (min-width: 1198px) { flex: 1 1 47.5%; }
}

.training-actions--link {
    padding: 0.5em 1em 0;
    flex: 0 0 auto;
    color: rgb(236, 236, 236);
    text-align: center;
    font-family: $font;
    font-size: 0.85em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;

    &:hover {
        color: $red;
        text-decoration: underline;
    }

    @media screen and (max-width: 350px) { margin: 0 auto; }

    @media screen and (min-width: 768px) { padding: 0.75em 1em 0; }
}
