/* -------------------------------------------------------------------------------------------------
  # Video Message
------------------------------------------------------------------------------------------------- */
.video-message {
    padding-top: 60px;
    padding-bottom: 60px;

    .title {
        text-align: center;
        margin-bottom: 20px;
    }

    + .page-section {
        padding-top: 0;
    }
}
