/* -------------------------------------------------------------------------------------------------
  # Widgets
------------------------------------------------------------------------------------------------- */
.widget {
    margin-bottom: 40px;

    ul {
        padding-left: 15px;
    }

    li {
        border-bottom: 1px solid rgb(243, 243, 243);
        list-style: none;

        &:hover {
            background-color: $light-gray;
        }
    }

    a {
        display: block;
        font-family: $font;
        font-weight: 300;
        font-size: 14px;
        color: black;
        padding: 5px;

        &:hover {
            color: $white;
        }
    }
}

.widget-title {
    margin: 0;
    padding-bottom: 10px;
    line-height: 1.25;
}
