/*--------------------------------------------------------------------------------------------------
  Become a Movement Specialist
--------------------------------------------------------------------------------------------------*/

// Variables
$open: 'Open Sans', Helvetica, sans-serif;
$open-cond: 'Open Sans Condensed', Helvetica, sans-serif;

$red: #cf0a2c;
$tathata-red: rgb(153, 0, 0);
$green: #0fb80f;
$drk-green: #199f19;
$white: #fff;

// Mixins
@mixin ar($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .ms-hero--content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 0;
        padding-left: 0;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// Flex video
.flex-video {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    margin-bottom: 1rem;
    overflow: hidden; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.flex-video.widescreen {
    padding-bottom: 56.25%; }

.flex-video.vimeo {
    padding-top: 0; }

// General Styles
img {
    max-width: 100%;
}

span.red {
    color: $red;
}

span.green {
    color: $green;
}

.button {
    display: block;
    position: relative;
    margin: 40px auto 0;
    background: #670000;
    text-transform: uppercase;
    color: white;
    font: 30px $open-cond;
    text-align: center;
    border-radius: 55px;
    width: 450px;
    max-width: 90%;
    padding: 10px 0;
    transition: background .4s ease;
    &:hover {
        color: white;
        background: $red;
    }
}

.button-green {
    background: $green;
    &:hover {
        background: $drk-green;
    }
}

// MS Hero
#ms-hero {
    @include ar(16, 4);
    background: black url('../images/TathataMovemetBanner.jpg') center center no-repeat;
    background-size: cover;
    h1 {
        color: white;
        width: 70%;
        text-shadow: 0 5px 7px black;
        span {
            color: red;
        }
    }
    h2 {
        text-align: left;
        font-size: 1.75em;
        text-transform: capitalize;
        font-weight: 400;
        text-shadow: 0 5px 7px black;
    }
}

// MS Hero Firefox Hack
@supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
    #ms-hero {
        min-height: 400px;
    }
}

.ms-hero--row {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    .hero--triangle-img {
        flex: 0 1 25%;
        text-align: center;
        padding: 15px;
    }
    .hero--logo-text {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

/* Microsoft Edge Browser 12+ (All) - @supports method */

@supports (-ms-accelerator:true) {
    #ms-hero {
        min-height: 400px;
    }
}

// MS Block Container
.ms-blocks {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

// MS Block Row
.ms-blocks--row {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}

// MS General Row
.ms-row {
    width: 100%;
    max-width: 1200px;
    position: relative;
    display: block;
    margin: 0 auto;
}

// MS Block Half Container
.ms-blocks--column {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    h2 {
        font: 40px $open;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    .red {
        color: $red;
        text-shadow: 0px 0px 10px black;
    }
    p {
        font: 16px $open;
        color: white;
    }
}

// Columns Widths
.ms-half {
    width: 50%;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    a {
        background: rgba(0, 0, 0, 0.40);
        transition: background .4s ease;
        width: 100%;
        height: 100%;
        padding: 75px 3%;
        flex: 1 1 auto;
        &:hover {
            background: rgba(0, 0, 0, 0.80);
        }
    }
}

.ms-third {
    width: 33.3333333%;
    min-height: 400px;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    a {
        background: rgba(0, 0, 0, 0.40);
        transition: background .4s ease;
        width: 100%;
        height: 100%;
        padding: 75px 3%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover {
            background: rgba(0, 0, 0, 0.80);
        }
        div {
            flex: 0 1 auto;
        }
    }
}

// Testimonials Block
#ms-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px 60px;
    h1 {
        width: 100%;
        flex: 1 1 auto;
        font-family: $open-cond;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        padding-bottom: 17px;
    }
    img {
        max-width: 50%;
        height: auto;
        flex: 1 1;
        flex-basis: auto;
    }
    .slick-slider {
        margin-bottom: 0;
    }
    .slick-track {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        position: relative;
    }
    .ms-testimonials--slider {
        max-width: 45%;
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        position: relative;
    }
    .ms-testimonials--social {
        width: 100% !important;
        flex: 1 1 auto;
        position: relative;
        background: #eee;
        padding: 15px;
        margin: 0 15px;
        h3 {
            font: 16px $open-cond;
            text-transform: uppercase;
            font-weight: bold;
            color: #888;
            margin: 0;
        }
        p {
            font: 13px $open;
            color: #888;
        }
    }
    .ms-hours {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        h3 {
            font: 20px $open-cond;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
    #hoursTrained {
        color: #cf0a2c;
    }
}

// testimonials row
.ms-testimonials--row {
    width: 100%;
    max-width: 1200px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}

// Education Block
.ms-education {
    background: black url('../images/TathataEducation.jpg') center center no-repeat;
    background-size: cover;
    min-height: 330px;
}

// Curriculum Block
.ms-curriculum {
    background: black url('../images/Certified-Curriculum04.jpg') center center no-repeat;
    background-size: cover;
    min-height: 330px;
}

// Teaching
.ms-teaching {
    background: black url('../images/1on1indoor3.jpg') center center no-repeat;
    background-size: cover;
}

// Webpage
.ms-webpage {
    background: black url('../images/Bg-Personaized.jpg') center center no-repeat;
    background-size: cover;
}

// Market
.ms-market {
    background: black url('../images/LID_0142.jpg') center center no-repeat;
    background-size: cover;
}

// Slider Styles

#ms-whatis {
    width: 100%;
    margin-bottom: 0;
    background: url('../images/Bg-Paper.jpg') left center no-repeat;
    background-size: cover;
    padding: 20px 0 0px;
    div {
        max-width: 1200px;
        margin: 0 auto;
    }
    h2 {
        font: 40px $open;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 90px;
        text-align: center;
        width: 80%;
        margin: 0 auto 40px;
    }
    h3 {
        font: 20px $open;
        font-weight: bold;
        margin-top: 45px;
    }
    p {
        font: 16px $open;
        text-align: left;
        display: inline-block;
        float: left;
        width: 50%;
        padding: 0 18px;
    }
    // Icon Grid
    .ms-icon--grid {
        clear: both;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 75px 0 0;
        li {
            flex: 1 1 auto;
            text-align: center;
            padding: 0 25px;
            margin-bottom: 40px;
            width: 12.5%;
            a {
                display: block;
                cursor: pointer;
                img {
                    filter: grayscale(1);
                    transition: all .4s ease;
                    display: block;
                    width: 100%;
                    height: 100%;
                    max-width: 125px;
                    margin: 0 auto;
                }
                span {
                    font-family: $open;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    color: black;
                    display: block;
                    margin: 20px auto 0;
                }
                p {
                    font-family: $open;
                    font-size: 12px;
                    font-weight: bold;
                    font-style: italic;
                    width: 100%;
                    color: black;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                }
                // on hover
                &:hover {
                    img {
                        filter: grayscale(0);
                    }
                    span {
                        color: $red;
                    }
                }
            }
        }
    }
}

.ms-description--container > div {
    width: 100%;
    max-width: 100%;
    min-height: 350px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    &:before {
        content: url('../images/red-triangle.png');
        width: 112px;
        margin-left: -56px;
        position: absolute;
        left: 50%;
        top: 0;
    }
    .ms-description--image {
        width: 50%;
        flex: 1 1 auto;
        background: url('../images/golf-instructor-bg.jpg') center center no-repeat;
        background-size: cover;
    }
    .ms-description--detail {
        width: 50%;
        background: #231f20;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div {
            h2 {
                font: 30px $open-cond;
                font-weight: bold;
                text-transform: uppercase;
                color: $red;
                text-align: left;
                margin: 0;
                padding: 0 45px 35px;
            }
            p {
                color: white;
                font: 24px $open;
                width: 100%;
                padding: 0 45px 35px;
            }
        }
    }
}

// Description Toggle CSS
#golf-instructors {
    display: block;
}

#physical-education, #yoga-instructors, #coaches, #martial-arts, #parents-grandparents,
#personal-trainer, #anyone {
    display: none;
}

// Description Backgrounds
// golf instructor
#golf-instructors .ms-description--image {
    background: url('../images/golf-instructor-bg.jpg') center center no-repeat;
    background-size: cover;
}

// parents and grandparents
#parents-grandparents .ms-description--image {
    background: url('../images/parents-bg.jpg') center center no-repeat;
    background-size: cover;
}

// Personal Trainer
#personal-trainer .ms-description--image {
    background: url('../images/PersonalFitness.jpg') center center no-repeat;
    background-size: cover;
}

// PE Teacher
#physical-education .ms-description--image {
    background: url('../images/PETeacher.jpg') center center no-repeat;
    background-size: cover;
}

// Yoga Instructors
#yoga-instructors .ms-description--image {
    background: url('../images/YogaInstructor.jpg') center center no-repeat;
    background-size: cover;
}

// Coaches
#coaches .ms-description--image {
    background: url('../images/Coaches.jpg') center top no-repeat;
    background-size: cover;
}

// Martial Arts
#martial-arts .ms-description--image {
    background: url('../images/MartialArts.jpg') center center no-repeat;
    background-size: cover;
}

// Anyone
#anyone .ms-description--image {
    background: url('../images/Anyone.jpg') center center no-repeat;
    background-size: cover;
}

.slick-prev:before, .slick-next:before {
    color: black;
    font-size: 45px;
}

.slick-prev {
    left: 50px;
    width: 45px;
    height: 45px;
}

.slick-next {
    right: 50px;
    width: 45px;
    height: 45px;
}

// Video Callout
#ms-video-callout {
    width: 100%;
    padding: 5px 0;
    margin: 0 auto;
    background: #f7f7f7;

    h2 {
        font: 26px $open-cond;
        text-transform: none;
        text-align: center;
        margin-bottom: 20px;
        color: black;
        text-transform: uppercase;
    }
}

// MS Correcting Golf Block Section
.ms-correcting {
    background: url('../images/brian.jpg') center top no-repeat;
    background-size: cover;
    flex: 0 1 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    > div {
        background: rgba(0, 0, 0, 0.40);
        flex: 1 1;
        width: 100%;
        height: 100%;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    p {
        color: white;
        font: 24px $open;
        text-align: center;
    }
}

// video play icon
.ms-play {
    border: 5px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all .4s ease;
    i {
        color: white;
        font-size: 45px;
        flex: 0 1 auto;
        margin-left: 9px;
        transition: all .4s ease;
    }
    &:hover {
        border: 5px solid $red;
        i {
            color: $red;
        }
    }
}

// Golf Industry Slider
h3.golf-industry {
    font: 30px $open-cond;
    font-weight: bold;
    color: $tathata-red;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.ms-golf-industry,
.msLinkedSlider {
    width: 100%;
    background: #fff;
    height: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
    p {
        color: black;
        font: 16px $open;
        text-align: center;
        width: 65%;
    }
    .slick-prev {
        left: 15px;
    }
    .slick-next {
        right: 12px;
    }
    .slick-prev, .slick-next {
        top: 33%;
    }
}

.ms-golf-industry--slide,
.msLinkedSlider--slide {
    flex: 0 1;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p, span {
        flex: 0 1 auto;
        display: inline-block;
    }
}

// Opportunity To Be A Part Block
.ms-opportunity--slider {
    margin-top: 0;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    .slick-next:before, .slick-prev:before {
        color: #777;
    }
    .slick-prev {
        left: 18px;
    }
    .slick-next {
        right: 12px;
    }
    .slick-slider {
        margin-bottom: 0;
    }
}

.ms-opportunity {
    background: #231f20;
    h3 {
        font: 30px $open-cond;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        width: 80%;
        margin: 20px auto 0;
    }
    p {
        color: white;
        font: 16px $open;
        display: inline-block;
        vertical-align: middle;
        flex: 2 2 auto;
        text-align: center;
    }
}

.ms-opportunity--content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.ms-number {
    flex: 0 1 auto;
    display: inline-block;
    font: 120px $open-cond;
    font-weight: bold;
    color: $tathata-red;
    vertical-align: middle;
    text-align: center;
    margin: 0 25px;
    min-width: 56px;
}

// Training & Cert Programs
#ms-programs {
    width: 100%;
    background: url('../images/training-bg.jpg') center top no-repeat;
    position: relative;
    padding: 1px 0 20px;
    h2 {
        color: white;
        font: 40px $open-cond;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    .ms-programs--content {
        display: block;
        width: 100%;
        max-width: 1200px;
        margin: 25px auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px 0;
        h3 {
            font: 30px $open-cond;
            font-weight: bold;
        }
        h4 {
            font: 24px $open;
            span {
                font: 16px $open;
                font-style: italic;
            }
        }
    }
}

// Content Toggles
.ms-toggle--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

.ms-toggle {
    font: 30px $open-cond;
    font-weight: bold;
    text-transform: uppercase;
    flex: 1 1 auto;
    position: relative;
    padding: 0 20px;
}

.ms-toggle--half {
    max-width: 50%;
    flex: 1 1;
}

.ms-toggle--content {
    display: block;
    width: 100%;
    a {
        cursor: pointer;
    }
    h3 {
        color: $red;
    }
    p {
        font: 16px $open;
        text-transform: none;
    }
}

.ms-chapter {
    p {
        font: 20px $open;
        font-weight: 600;
        text-transform: none;
        span {
            font: 24px $open-cond;
            font-weight: bold;
            text-transform: uppercase;
            color: $red;
            display: inline;
        }
    }
    span {
        font: 16px $open;
        font-style: italic;
        line-height: 16px;
        padding: 0;
        margin: 0 0 15px;
        display: block;
    }
    a {
        font: 24px $open-cond;
        font-weight: bold;
        color: $red;
        text-transform: uppercase;
        i {
            float: none;
        }
    }
    ul {
        li {
            font-size: 18px;
        }
    }
}

// Certification Materials and Support styles
#ms-materials--compact {
    display: block;
    position: relative;
    max-width: 1200px;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    h1 {
        width: 83.3333%;
        margin: 0 auto 10px;
        font: 40px $open;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        font: 16px $open;
        font-weight: normal;
        width: 66.66666%;
        margin: 0 auto;
    }
    .button {
        cursor: pointer;
    }
}

#ms-materials {

    > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        padding: 0 0 60px;
        .row {
            width: 100%;
            max-width: 1200px;
            margin: 10px auto;
            flex: 0 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: stretch;
            align-content: flex-start;
            padding: 25px 0;
            .columns {
                flex: 0 1 auto;
                padding: 0 15px;
            }
            .medium-4 {
                width: 33.333333%;
            }
            .medium-7 {
                width: 58.333333%;
            }
        }
        .row:nth-child(2) {
            background: #f7f7f7;
            .medium-4 {
                flex: 1 1 auto;
            }
        }
        // non structural styles
        p {
            font: 16px $open;
            font-weight: normal;
            margin-bottom: 20px;
        }
        h4 {
            font: 20px $open-cond;
            font-weight: 900;
            text-transform: uppercase;
            color: $tathata-red;
            margin-top: 0;
        }
        ul {
            width: 50%;
            float: left;
            clear: none;
            font: 16px $open;
            margin-top: 20px;
            li:nth-child(1) {
                list-style: none;
                margin-left: -18px;
            }
        }
    }
}

// Buy Containers
.ms-buy--row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}

.ms-buy--column {
    flex: 1 1 50%;
    p {
        font: 16px $open;
        font-weight: normal;
        margin-bottom: 25px;
        padding-left: 15px;
    }
    span.red {
        color: $red;
        font-weight: bold;
        font-style: italic;
    }
}

#ms-buy {
    padding: 20px 0 99px;
    background: #f7f7f7;

    h2 {
        text-align: center;
        font: 40px $open-cond;
        text-transform: uppercase;
        font-weight: bold;
        color: $green;
        margin-bottom: 50px;
    }

    h3 {
        font: 40px $open-cond;
        font-weight: bold;
        color: $green;
        text-transform: uppercase;
        margin-top: 0;
    }

    h4 {
        font: 24px $open;
        font-weight: normal;
        width: 55%;
        margin: 0 auto 40px;
    }

    img {
        margin-bottom: 40px;
    }

    p {
        font: normal 16px "Open Sans", Helvetica, sans-serif;
        margin-bottom: 25px;
        padding: 15px 0;
        text-align: justify;
        max-width: 75%;
        margin: 0 auto;
    }

    .ms-half--toggle {
        padding: 0 20px;
    }
}

// Training Packages
#ms-training {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    background: url('../images/Bg-Paper.jpg') center top no-repeat;
    h1 {
        font: 40px $open-cond;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 20px;
        width: 70%;
    }
    .row {
        width: 100%;
        max-width: 1200px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-start;
        .columns, .column {
            flex: 0 1 auto;
            padding: 0 15px;
        }
        .medium-4 {
            width: 33.333333%;
        }
        // non structural styles
        p {
            font: 16px $open;
            font-weight: normal;
            margin-bottom: 20px;
            text-align: left;
        }
        h4 {
            font: 26px $open-cond;
            font-weight: 900;
            text-transform: uppercase;
            color: $red;
            margin-top: 0;
        }
        img {
            margin-bottom: 10px;
        }
    }
}

// Remodal Styles
.remodal {
    video, iframe, div {
        max-width: 100%;
    }
}

.additional-remodal {
    ul {
        li {
            font: 20px $open;
            font-weight: bold;
            text-align: left;
            margin-bottom: 30px;
        }
    }
}

// swipe text for sliders
.swipe-text {
    display: none !important;
}

.ms-blocks--column p.swipe-text {
    color: black;
}

.ms-opportunity p.swipe-text {
    color: white !important;
}

// Media Queries
@media screen and (max-width: 1000px) {
    #ms-hero h1 {
        font-size: 25px;
    }
    #ms-hero h2 {
        font-size: 1.5em;
        font-weight: 400;
        text-transform: capitalize;
    }
}

@media screen and (max-width: 790px) {
    #ms-hero h1 {
        font-size: 18px;
    }
    #ms-hero h2 {
        font-size: 16px;
        font-weight: normal;
    }
}

// iPad Portrait
@media screen and (max-width: 768px) {
    // adjust the headline size in the 5 blocks
    .ms-blocks--column h2 {
        font-size: 24px;
    }

    #ms-testimonials img {
        display: none;
    }

    #ms-testimonials .ms-testimonials--slider {
        width: 100%;
        max-width: 100%;
        margin-top: 30px;
    }

    // adjust headlines for training section
    #ms-training .row h4 {
        font-size: 20px;
    }

    #ms-testimonials h1 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    //hide arrows for sliders on mobile
    .slick-prev, .slick-next {
        display: none !important;
    }
    // Opportunity Slider Width
    .ms-opportunity--content {
        width: 90%;
    }

    .ms-buy--column p {
        padding-left: 15px;
    }

    // swipe text for sliders
    .swipe-text {
        display: block !important;
        font: 14px $open !important;
        color: black;
        text-align: center !important;
        flex: 0 1 auto !important;
    }
}

// Landscape Phones
@media screen and (max-width: 670px) {
    // five block headlines
    .ms-blocks--column h2 {
        font-size: 27px;
    }
    .ms-blocks--column p {
        text-align: center;
    }
    // training headlines
    #ms-training .row h4 {
        font-size: 17px;
    }

    // icon grid
    #ms-whatis .ms-icon--grid li {
        width: 25%;
    }

}

@media screen and (max-width: 40em) {
    .ms-half, .ms-third, .ms-correcting, .ms-toggle--half {
        width: 100%;
        max-width: 100%;
    }

    .ms-toggle--half {
        flex: 1 1 auto;
    }

    .ms-row {
        padding: 0 15px;
    }

    .ms-buy--column {
        flex: 1 1 100%;
    }

    .ms-blocks--column p {
        text-align: left;
    }

    #ms-buy {
        padding: 0 0 50px;
        h4 {
            width: 100%;
        }
    }
    // hero mobile adjustments
    #ms-hero {
        @include ar(4, 3);
        min-height: 390px;
        h1 {
            font-size: 25px;
        }
        h2 {
            font-size: 18px;
        }
    }

    .ms-hero--content {
        padding-left: 15px !important;
    }

    .hero--triangle-img {
        display: none;
    }

    // Testimonials Mobile
    #ms-testimonials {
        padding: 0px 15px 10px;
    }

    #ms-testimonials .ms-testimonials--slider {
        width: 100%;
        max-width: 100%;
        margin-top: 30px;
    }

    #ms-testimonials .ms-testimonials--social {
        margin: 0;
    }

    .ms-testimonials--row {
        flex-wrap: wrap;
    }

    .ms-correcting {
        div {
            padding: 50px 40px 50px 40px;
        }
    }

    //what is a movement specialist slider
    .ms-whatslider--slide h2 {
        font-size: 25px;
        margin-bottom: 50px;
    }
    .ms-whatslider--slide p {
        font-size: 18px;
    }

    #ms-whatis .ms-icon--grid li {
        width: 50%;
    }

    #ms-whatis p {
        width: 100%;
        padding: 0 45px;
        margin-bottom: 20px;
    }

    #ms-whatis h2 {
        width: 100%;
        margin: 0 auto 40px;
        font-size: 30px;
    }

    // hide icon details on mobile
    .ms-description--container {
        display: none !important;
    }

    // materials adjustments
    #ms-materials--compact {
        padding: 0;
    }
    #ms-materials--compact h1 {
        font-size: 29px;
    }

    #ms-materials--compact p {
        width: 100%;
        padding: 0 15px;
    }

    #ms-materials {
        .row {
            .medium-4, .medium-7 {
                width: 100%;
            }
        }
        .row:nth-child(2) {
            .medium-4 {
                order: -1;
            }
        }
        // non structural styles
        ul {
            padding: 0 0 0 17px;
        }
        h4 {
            margin-top: 15px;
        }
    }

    #ms-programs {
        background: none;
        padding: 0;
    }

    #ms-programs h2 {
        color: black;
    }

    // Training Package
    #ms-training {
        background: none;
        padding: 20px 0;
        .row {
            h1 {
                width: 100%;
                font-size: 29px;
            }
            .medium-4 {
                width: 100%;
            }
        }
    }

    //opportunity slider
    .ms-opportunity h3, h3.golf-industry {
        font-size: 24px;
    }

    // toggle adjustments
    .ms-chapter p span {
        font-size: 18px;
    }
    .ms-chapter p {
        font-size: 16px;
    }

    // buy section
    .ms-buy--column p {
        padding-left: 0;
    }
}

// Remodal Media Query for Desktops
@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 1000px;
    }
}

/*------------------------------------------------------------------------------
  New Sliders
------------------------------------------------------------------------------*/
#msInfoSliders {
    flex-direction: column;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }

    .ms-blocks--column.ms-half {
        @media screen and (max-width: 992px) {
            width: 100%;
        }

        &:nth-child(1) {
            background: #231f20;
            color: $white;

            .ms-golf-industry,
            .msLinkedSlider {
                background: none;
            }

            h3.golf-industry {
                color: $white;
            }

            .ms-number--title {
                color: #cf0a2c;
            }

            p {
                color: $white;
            }

            .slick-prev:before,
            .slick-next:before {
                color: #777;
            }
        }
    }

    .ms-golf-industry--slide p.ms-number--title,
    .msLinkedSlider--slide p.ms-number--title {
        width: 100%;
        font-size: 1.5em;
        font-weight: 700;
    }

    .giSlide-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

// Disclaimer
#ms-disclaimer {
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        border: 2px solid #cf0a2c;
        width: 60%;
        margin: 0 auto;
        padding: 20px 10px;
    }

    p {
        font: normal 16px 'Open Sans', Helvetica, sans-serif;
        color: $white;

        strong {
            color: #cf0a2c;
        }
    }
}

/*------------------------------------------------------------------------------
  Patch
------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    #ms-disclaimer {
        height: auto;
    }

    #ms-disclaimer div {
        margin: 20px auto
    }

    .ms-blocks--row {
        display: none;
    }
}
