/* -------------------------------------------------------------------------------------------------
  # Blog
------------------------------------------------------------------------------------------------- */
.dafeOfPost {
    font-family: $font-header !important;
    font-weight: 700 !important;
}
