/* -------------------------------------------------------------------------------------------------
  # Taxonomy OA Chapter Videos
------------------------------------------------------------------------------------------------- */
.tg-video-archive {
    padding-bottom: 40px;
}

// Title
// --------------------------------------------------------------
.video-archive-title {
    text-align: center;
    text-transform: uppercase;
    font-family: $font;
    font-weight: 700;
}

// Description
// --------------------------------------------------------------
.video-archive-description {
    p {
        font-size: 16px;
        font-family: $font;
        margin-bottom: 20px;
    }
}

// Videos
// --------------------------------------------------------------
.archive-video-container {
    display: flex;
    flex-flow: row wrap;
}

.chapter-support-video-item {
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100%;

    > .title {
        h1 {
            font-size: 1em;
            font-family: $font;
        }
    }

    > .video {
        width: 100%;
        height: 200px;
        position: relative;
        transition: all 0.35s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 44px;
            color: $white;
            z-index: 3;
        }
    }

    // hide the play button for PDFs
    > .video[style*="pdf"] {
        i {
            display: none;
        }
    }
}

.chapter-support-video {
    flex: 1 0 100%;
    min-width: 30%;
    min-height: 100px;
    margin: 0 0 1em;
    transition: all 0.35s ease;
    display: block;
    position: relative;

    @media screen and (min-width: 768px) {
        flex: 1 0 48%;
        margin: 0 0.5em 1em;
    }

    @media screen and (min-width: 992px) {
        flex: 1 0 30%;
    }

    &:hover {
        h1 {
            color: $tathata-red;
        }

        .video::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            background-color: rgba($black, 0.4);
        }
    }
}
