/*----------------------------------------------------------------------------
  Custom Responsive CSS
----------------------------------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
    .pageThumbnailViewWrap .row article.BigLinkImgWrap {
        width: 482px
    }

    .pageThumbnailViewWrap .row article.newsEventsWrap div {
        width: 238px;
        margin-right: 5px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 980px;
    }

    .columnContentWrap .columnContent:nth-child(4n) {
        margin-right: 0;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .topRightCotent {
        margin: 0;
        clear: both;
    }

    .navbar-nav {
        margin: 0 -10px 0 -10px;
    }

    .navbar-nav > li > a {
        padding: 0 10px;
    }

    .navbar-nav li a {
        font-size: 12px;
    }

    .banner-content .banner-content-align {
        width: 100%;
        text-align: center;
        bottom: 20px;
    }

    .banner-content .banner-content-align h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .banner-content .banner-content-align p {
        max-width: 100%;
        margin: 0 0 10px;
    }

    .owl-theme .owl-controls .owl-page span {
        margin: 0 5px;
    }

    .owl-pagination {
        margin-top: 0;
    }

    footer .container .quickLinks ul li {
        text-indent: 10px;
    }

    footer .container .newsLetter input.btn {
        margin-top: 10px;
    }

    footer .container .shareUs p a {
        margin: 0 4px;
    }

    .columnContentWrap {
        width: 612px;
        margin: 0 auto;
    }

    .resp-tab-content .columnContent {
        max-width: 200px;
    }

    .resp-tab-content .videoContainer, .videoContainer iframe, .resp-tab-content .videoContainer img {
        height: 160px;
    }

    .columnContentWrap .columnContent:nth-child(3n) {
        margin-right: 0;
    }

    .continueTrainingWrap a.geryBtnPrev {
        padding: 7px 12px 7px 25px
    }

    .daysPageWrap .continueTrainingWrap a.redLinkBtn, .continueTrainingWrap a.redLinkBtn {
        padding: 9px 25px 9px 14px
    }
{
    padding: 9px 25px 9px 14px
}
    .daysPageWrap .otherProfileImgs li {
        width: 40px;
        height: 40px
    }

    .resp-tab-content ul.commtList li .authorImg {
        margin-right: 20px;
        width: 48px;
        height: 48px
    }

    .resp-tab-content ul.commtList li .authorNameCommt {
        display: inline-block;
        max-width: 600px
    }

    .pageThumbnailViewWrap .container {
        max-width: 600px;
    }

    .pageThumbnailViewWrap .row article {
        width: 297px;
        background-size: cover;
        margin-bottom: 5px
    }

    .pageThumbnailViewWrap .row > article:nth-child(2n) {
        margin-right: 0
    }

    .pageThumbnailViewWrap .row article > h3 {
        background: #000
    }

    .pageThumbnailViewWrap .row article.BigLinkImgWrap {
        width: 100%;
        margin-right: 0
    }

    .pageThumbnailViewWrap .row article.newsEventsWrap {
        width: 100%
    }

    .pageThumbnailViewWrap .row article.newsEventsWrap .firstDiv, .pageThumbnailViewWrap .row article.newsEventsWrap div.secondDiv {
        width: 297px
    }

    .pageThumbnailViewWrap .row article.BigLinkImgWrap {
        margin-bottom: 0
    }
}

@media (max-width: 768px) {
    .topRightCotent {
        margin: 0;
    }

    .topRightCotent .otherLinks {
        float: right;
    }

    .logo a {
        margin: 18px 0 5px 10px;
    }

    .topRightCotent .navbar-form {
        padding: 10px;
    }

    footer .container .row > article > div {
        border-right: none;
    }

    .banner-content .banner-content-align {
        width: 90%;
        text-align: center;
        float: none !important;
        position: inherit;
        margin: 80px auto 0;
    }

    .banner-content .banner-content-align h2 {
        font-size: 18px;
        line-height: 22px;
    }

    .banner-content .banner-content-align p {
        max-width: 100%;
        margin: 0 0 10px;
        font-size: 13px;
    }

    .owl-theme .owl-controls .owl-page span {
        margin: 0 5px;
    }

    .owl-pagination {
        margin-top: 0;
    }

    .owl-carousel .owl-item {
        min-height: 250px;
    }

    .owl-theme .owl-controls .owl-page span {
        margin: 0 5px;
    }

    .banner-content {
        background: rgba(0, 0, 0, 0.7)
    }

    footer .container .row > article h3 {
        border-bottom: 1px dashed #666;
    }

    #owl-demo .item img {
        height: 250px;
    }

    .menu li {
        float: none;
    }

    .menu li a {
        display: block;
    }

    .chap-left {
        width: 100%
    }

    .chap-overview-head > ul li {
        font-size: 16px;
        padding-right: 10px
    }

    .chap-overview h4 {
        font-size: 14px
    }

    .resp-tab-content .chap-overview ul {
        margin-left: 25px;
    }

    .tabSectionWrap {
        margin-bottom: 20px
    }

    .daysPageWrap .lesson-badges .otherProfileImgs, .daysPageWrap .studyGuideList {
        float: none;
        display: inline-block;
        padding: 0;
        width: 100%;
        max-width: inherit
    }

    .resp-tab-content ul.commtList {
        margin: 0
    }

    .resp-tab-content ul.commtList li {
        display: inline-block;
        width: 100%
    }

    .resp-tab-content ul.commtList li .authorImg {
        margin-right: 15px;
        width: 48px;
        height: 48px
    }

    .resp-tab-content ul.commtList li .authorNameCommt {
        display: inline-block;
        max-width: 75%;
    }

    .resp-tab-content ul.commtList li .authorNameCommt p.postedDate, .resp-tab-content ul.commtList li .authorNameCommt p {
        font-size: 12px
    }

    .pageThumbnailViewWrap .container {
        max-width: 80%;
    }

    .pageThumbnailViewWrap .row article {
        width: 100%;
        background-size: cover;
        margin-bottom: 5px
    }

    .pageThumbnailViewWrap .row > article {
        margin-right: 0
    }

    .pageThumbnailViewWrap .row article > h3 {
        background: #000
    }

    .pageThumbnailViewWrap .row article.BigLinkImgWrap {
        width: 100%;
        margin-right: 0
    }

    .pageThumbnailViewWrap .row article.newsEventsWrap {
        width: 100%
    }

    .pageThumbnailViewWrap .row article.newsEventsWrap .firstDiv, .pageThumbnailViewWrap .row article.newsEventsWrap div.secondDiv {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px
    }

    .pageThumbnailViewWrap .row article.BigLinkImgWrap {
        margin-bottom: 0
    }

    .pageThumbnailViewWrap .row article.portrait {
        min-height: 250px;
    }

    .pageThumbnailViewWrap .row article .overlayContent {
        min-height: 250px;
        padding-top: 20px
    }

    .pageThumbnailViewWrap .row article .overlayContent div {
        min-height: 170px
    }

    .pageThumbnailViewWrap .row article .overlayContent div h3 {
        font-size: 16px;
        line-height: 20px
    }

    .thirdRowMidText {
        padding: 20px
    }

    .thirdRowMidText p {
        font-size: 18px;
        line-height: 24px;
    }

    .welcomeToHeading h3 + ul li {
        font-size: 20px;
        line-height: 24px;
        padding-right: 10px
    }

    .welcomeToHeading h1 {
        font-size: 20px;
        margin: 10px 0
    }

    .daysPageWrap .continueTrainingWrap a.redLinkBtn, .continueTrainingWrap a.redLinkBtn {
        padding: 9px 25px 9px 14px
    }
{
    padding: 9px 25px 9px 14px
}
    .chap-overview .full-div {
        margin-left: 0
    }

    .chap-overview .full-div > p {
        font-size: 13px
    }

    .resp-tab-content .chap-overview ul li {
        font-size: 12px
    }

    .rightPanel h3 {
        font-size: 14px
    }

    .sixtyDayMemProIntro h2 {
        margin: 40px 10px 0;
        font-size: 14px
    }

    .sixtyDayMemProIntro {
        min-height: 120px
    }
}

@media (max-width: 479px) {
    .columnContentWrap {
        width: 100% !important;
        margin: 0 auto;
    }

    .resp-tab-content .columnContent {
        min-width: 100% !important;
        margin-right: 0 !important;
    }

    .resp-tab-content .videoContainer, .videoContainer iframe, .resp-tab-content .videoContainer img {
        height: 200px !important
    }

    .pageThumbnailViewWrap .container {
        max-width: 90%;
    }
}
