/*----------------------------------------------------------------------------
  Login Page
----------------------------------------------------------------------------*/
.login-page {
    font-family: $font;
    font-weight: 300;
    color: #999;
    display: block;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.login-page .login-content {
    background: rgba(11, 11, 11, 0.8);
    text-align: center;
}

.login-page .login-content .tt-loginLogo {
    width: 210px;
    height: auto;
    margin: 10px 0 10px
}

.login-content .entry-content {
    text-align: center;
}

.login-content .login {
    width: 225px;
    display: inline-block;
}

.login-content .login a {
    color: #fff;
    font-style: italic;
    text-align: left;
}

.login-content .login input {
    width: 100%;
    border: none;
    background-color: #fff;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-radius: 4px;
}

.login-content .login label {
    display: none;
}

.login-content .login .forgetmenot {
    display: inline-flex;
    float: left;
    color: #fff;
    text-shadow: none;
    margin-top: 16px;
}

.login-content .login .forgetmenot label {
    display: block;
}

.login-content .login .forgetmenot input {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 10px 0 0;
}

.login-content .login .submit {
    float: right;
}

.login-content .login ul.tml-action-links {
    padding: 0;
    clear: both;
}

.login-content .login ul.tml-action-links li {
    list-style: none;
}

.login-content .login input.btn-submit {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 3px 3px 0;
    background: #600 url('img/LinkBtnBg.png') no-repeat 10px center;
    line-height: 28px;
    color: #fff;
    width: 26px;
}

.login-content .login .password-feild {
    position: relative;
}

/*-------Login Page--------*/

.page-template-page-templatestemplate-login-php {
    background-size: cover;
    background: url('img/Login_bg.jpg') no-repeat 50% 50%;
}

.login-page .site-content {
    padding: 20% 0;
}

.login-content .login ul.tml-action-links li {
    text-align: left;
}

ul.tml-action-links li a {
    position: relative;
}

ul.tml-action-links li a:before {
    content: '';
    position: absolute;
    width: 79px;
    bottom: 2px;
    left: 0;
}

ul.tml-action-links li a:after {
    content: '';
    position: absolute;
    width: 67px;
    bottom: 2px;
    right: 0;
}

input.btn-submit:hover {
    background-color: #333 !important;
}

.forgetmenot {
    width: 100%;
    text-align: left;
}

.page-id-127 .tml-action-links {
    display: none;
}

.footBottomIcons {
    background-position: 2rem;
}

.login-page .login-content {
    background: rgba(11, 11, 11, 0.6);
    text-align: center;
    min-height: 20rem;
    margin: 8rem auto;
}

.login-page .site-content {
    padding: 15% 0;
}

.page-template-page-templatestemplate-login-php {
    background-size: cover;
    background: url('img/Login_bg.jpg') no-repeat 50% 50%;
    max-height: 100%;
}
