/* -------------------------------------------------------------------------------------------------
  # Chapter Tabs
------------------------------------------------------------------------------------------------- */
#senseiChapterTabs {
    li {
        border: none;
    }

    /* --------------------------------------------------------------
      ## General Tab Styles
    -------------------------------------------------------------- */
    .resp-tabs-list li {
        float: none;
        padding: 0 20px;
        margin: 0 1px;
    }

    .lesson-video-tab {
        background-color: rgb(246, 244, 90) !important;
        color: $black;
    }

    /* --------------------------------------------------------------
      ## Chapter Overview Tab
    -------------------------------------------------------------- */
    .chap-overview-head {
        padding: 0 0 0 40px;
        float: none;
    }

    .overview-title p {
        font-size: 17px;
        font-weight: 600;
        font-family: $font;
        text-transform: uppercase !important;
        padding-right: 12px;
        margin-right: 12px;
        display: inline;

        @media screen and (min-width: 320px) { font-size: 24px; }

        &:nth-child(1) { border-right: 1px solid rgb(204, 204, 204); }

        span {
            font-weight: 300;
            font-family: $font;
            color: $red;
        }
    }

    .chap-overview {
        float: none;
        display: inherit;
        width: auto;
    }

    .overview-content ul {
        padding: 0;
    }

    .c_left,
    .c_right {
        padding: 0 15px;

        h5 {
            font-family: $font;
            font-weight: 700;
            margin: 0 0 16px;
        }
    }

    .c_right p {
        padding: 0;
        font-family: $font;
        line-height: 1.6;
    }

    .ContinueRead {
        font-size: 14px;
        text-transform: uppercase;
        padding: 0.85em 1em;
        background: $dark-red none;
        color: $white;
        margin-top: 20px;
        transition: all 0.5s ease;

        &::after {
            content: "\f105";
            font-family: fontAwesome;
            font-size: 16px;
            padding-left: 15px;
        }

        &:hover { background-color: $green; }
    }

    .resp-tab-content {
        padding: 20px;
    }

    /* --------------------------------------------------------------
      ## Lesson Videos Tab
    -------------------------------------------------------------- */
    .lessonsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .columnContent {
            margin: 0 0 20px;
            height: auto;
            min-height: 265px;
            padding: 0 5px;
            transition: all 0.3s ease;

            @media screen and (max-width: 480px) { width: 100% !important; }

            @media screen and (min-width: 480px) { width: 50%; }

            @media screen and (min-width: 768px) { width: 33.33%; }

            h4 {
                font-size: 16px;
            }

            i {
                font-size: 32px;
                color: $white;
                transition: all 0.3s ease;
            }

            &:hover { cursor: pointer; }

            &:hover i { color: $dark-red; }
        }

        .play_button_hover {
            display: block;
            width: 100%;
            height: 100%;

            &:hover { cursor: pointer; }
        }

        .videoContainer {
            background-size: cover;
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ul li {
            font-family: $font;
            font-weight: 400;
            font-size: 12px;
        }
    }

    /* --------------------------------------------------------------
      ## Chapter Support Tab
    -------------------------------------------------------------- */
    .onlineAcademyTab {
        h3 {
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .onlineAcademy-videos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .onlineAcademy-videos .support-video,
        .onlineAcademy-videos .chapter-support-video {
            flex: 1 100%;
            padding: 0 5px;
            margin: 0 0 30px;

            @media screen and (min-width: 480px) {
                flex: 1 48.5%;
                max-width: 50%;
            }

            a {
                font-size: 14px;
                font-family: $font;
                font-weight: 400;
                transition: all 0.3s ease;
            }

            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }

    // Hide the WP content under the support items
    // Just a hack, the real fix will be from the plug-in side
    .support-video {
        p {
            display: none;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) { display: block; }
        }

        ul {
            display: none;
        }
    }

    .chapter-support-video {
        position: relative;

        &:hover .chapter-support-thumbnail::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            background-color: rgba($black, 0.4);
        }
    }

    .chapter-support-thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 150px;
        position: relative;

        i {
            font-size: 44px;
            color: $white;
            z-index: 3;
        }
    }

    // hide the play button for PDFs
    .chapter-support-thumbnail[style*="pdf"] i {
        display: none;
    }

    /* --------------------------------------------------------------
      ## Daily Extras Tab
    -------------------------------------------------------------- */
    .lessonMedia-container {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .lessonMedia-video {
            display: inline;
            padding: 10px 5px;

            @media screen and (min-width: 480px) { width: 50%; }
        }
    }
}
