/* -------------------------------------------------------------------------------------------------
  # Corporate Partner
------------------------------------------------------------------------------------------------- */
#corporatePartner {
    background: $white;
    margin: 0;
    padding: 40px 0;
}

// Content
.cpLogos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    // Logos
    .cpLogos-img {
        max-width: 80%;

        @media screen and (min-width: 768px) {
            max-width: 40%;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    // Dividing text
    span {
        margin: 0;
        padding: 5px 0;
        font-size: 22px;
        text-align: center;
        max-width: 100%;

        @media screen and (min-width: 768px) {
            max-width: 20%;
        }
    }
}

// Be specific to style the paragraph
#gtwrapper #cpLogos-content {
    margin: 0;
    padding: 10px 0 0;
    font-family: $font;
    font-weight: 300;
    font-size: 22px;
    color: $black;
    text-align: center;

    span {
        font-weight: 700;
        padding: 0;
    }
}
