/* -------------------------------------------------------------------------------------------------
  # Hero
------------------------------------------------------------------------------------------------- */
#page-hero {
    position: relative;
    padding: 40px 0;
    width: auto;
    height: auto;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    @media screen and (min-width: 992px) {
        min-height: 450px;
        padding: 0 20px;
        flex-direction: row;
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

        @media screen and (min-width: 992px) {
            flex-direction: row;
        }

        > .hero-image {
            margin-bottom: 1em;
            max-width: 250px;

            @media screen and (min-width: 992px) {
                min-width: 35%;
                margin: 0 20px 0 0;
            }

            img {
                margin: 0 auto;
            }
        }
    }

    &.-shop {
        background: url(../img/shop-hero.jpg) center center/cover no-repeat;
    }

    &.-program-overview {
        background: url(../img/60day-hero_mini.jpg) center center/cover no-repeat;
    }
}

/* --------------------------------------------------------------
  ## Typography
-------------------------------------------------------------- */
.hero-content {
    flex: 1 auto;

    > .page-title,
    > h2 {
        margin-top: 0;
        padding: 0;
        font-family: $font-header;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.25;
        color: $white;
        text-align: center;
        text-transform: capitalize;
        text-shadow: 7px 3px 15px $black;

        @media screen and (min-width: 992px) {
            padding-bottom: 10px;
            font-size: 40px;
        }

        span {
            color: $red;
        }
    }

    > h2 {
        font-size: 28px;
    }

    > p {
        font-family: $font;
        font-size: 24px;
        line-height: 30px;
        color: $white;
        text-align: center;
        text-shadow: 7px 3px 15px $black;
    }

    .hero-image ~ & {
        * {
            @media screen and (min-width: 992px) {
                text-align: initial;
            }
        }
    }
}
