/* -------------------------------------------------------------------------------------------------
  # Money Back Guarantee
------------------------------------------------------------------------------------------------- */
.money-back {
    padding: 0.25em 0;
    background-color: rgb(247, 247, 247);

    @media screen and (min-width: 992px) {
        padding: 1em 0;
    }

    img {
        max-height: 50px;

        @media screen and (min-width: 480px) {
            max-height: 125px;
        }

        @media screen and (min-width: 992px) {
            max-height: 200px;
        }
    }

    p {
        font-family: $font-header !important;
        font-weight: 700 !important;
        font-size: 0.85em !important;
        text-transform: uppercase !important;
        line-height: 1.25 !important;
        padding: 0 !important;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 1.25em !important;
        }

        @media screen and (min-width: 992px) {
            font-size: 1.85em !important;
        }
    }

    .row {
        > div:nth-child(1) {
            padding-right: 5px;
        }

        > div:nth-child(2) {
            padding-left: 5px;
        }
    }
}

// Content container
.mb-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;

    span {
        color: rgb(15, 184, 15);
    }

    @media screen and (min-width: 480px) {
        height: 135px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        height: 150px;
    }

    @media screen and (min-width: 992px) {
        height: 200px;
    }
}

// Make sure the styles stick on the 60 Day pages
.highlight60days {
    #mb-guarantee.money-back {
        p {
            padding: 0 !important;
            font-size: 0.85em !important;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                font-size: 1.25em !important;
            }

            @media screen and (min-width: 992px) {
                font-size: 1.85em !important;
            }
        }
    }
}

.bodySwing-3col {
    margin-bottom: 30px;
}
