/* -------------------------------------------------------------------------------------------------
  # Page Titles and Hero Sections
------------------------------------------------------------------------------------------------- */
#title-section {
    padding: 3rem 0;
    min-height: 125px;
    background: linear-gradient(rgba($black, 0.1), rgba($black, 0.6)), url(../img/ourFacilities-headerBg.jpg) center center/cover no-repeat;
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 1.25em;
        font-family: $font;
        color: $white;
        text-transform: uppercase;
        text-shadow: 7px 3px 15px $black;
    }
}
