/* -------------------------------------------------------------------------------------------------
  # Slider
------------------------------------------------------------------------------------------------- */
#hero-slider {
    position: relative;
}

.hero-slider {
    width: 100%;
    height: auto;

    @media screen and (min-width: 992px) {
        height: auto;
        min-height: 450px;
        max-height: 650px;
    }

    .slick-dots {
        bottom: 5px;
    }

    .slick-dots li button::before {
        font-size: 20px;
    }
}

.hero-slide {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        min-height: 450px !important;
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            min-height: 370px;
        }

        > .slide-image {
            margin-bottom: 1em;
            max-width: 250px;

            @media screen and (min-width: 992px) {
                min-width: 35%;
                margin: 0 20px 0 0;
            }
        }
    }
}

/* --------------------------------------------------------------
  ## Typography
-------------------------------------------------------------- */
.slide-content {
    flex: 1 auto;

    > .slide-title,
    > h2 {
        margin-top: 0;
        padding: 0;
        font-family: $font-header;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.25;
        color: $white;
        text-align: center;
        text-transform: capitalize;
        text-shadow: 7px 3px 15px $black;

        @media screen and (min-width: 992px) {
            padding-bottom: 10px;
            font-size: 40px;
        }

        span {
            color: $red;
        }
    }

    > h2 {
        font-size: 28px;
    }

    > p {
        font-family: $font;
        font-size: 24px;
        line-height: 30px;
        color: $white;
        text-align: center;
        text-shadow: 7px 3px 15px $black;
    }

    .slide-image ~ & {
        * {
            @media screen and (min-width: 992px) {
                text-align: initial;
            }
        }
    }
}
