/* -------------------------------------------------------------------------------------------------
  # Testimonials with Globe
------------------------------------------------------------------------------------------------- */
#testimonials-globe {
    #ms-testimonials {
        padding: 1em 0;

        h1 {
            font-family: $font-header;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            margin: 0 0 20px;
        }

        img {
            margin: 0 auto;
        }

        .slick-slider {
            margin-bottom: 0;
        }

        .slick-track {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            align-content: center;
            position: relative;
        }

        .ms-testimonials--social {
            width: 100% !important;
            flex: 1 1 auto;
            position: relative;
            background: rgb(238, 238, 238);
            padding: 15px;
            margin: 0 15px;

            h3 {
                font: 16px $font-header;
                text-transform: uppercase;
                font-weight: 700;
                color: rgb(136, 136, 136);
                margin: 0;
            }

            p {
                font: 13px $font;
                color: rgb(136, 136, 136);
            }
        }

        .ms-hours {
            margin: 20px auto;
            text-align: center;

            @media screen and (min-width: 768px) {
                margin: 0 auto 1em;
            }

            h3 {
                font: 22px $font-header;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0 auto;
            }
        }

        #hoursTrained {
            color: rgb(207, 10, 44);
        }

        .content.flex-column {
            margin-top: 20px;

            @media screen and (min-width: 768px) {
                margin-top: 0;
            }
        }
    }

    .content {
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}
