/* -------------------------------------------------------------------------------------------------
  # Extracted Inline CSS
------------------------------------------------------------------------------------------------- */
.promo_intro-p {
    text-align: center;
    font-size: 16px;
    padding: 10px 10px 20px;
}
