/* -------------------------------------------------------------------------------------------------
  # Helper Classes
------------------------------------------------------------------------------------------------- */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-row {
    padding: 30px 0;
}

.title {
    margin-top: 0;
    font-family: $font-header;
    font-weight: $h1-font-weight;
    color: $black;
}

section[style*="background"] {
    color: rgba($white, 0.9);

    .title {
        color: rgba($white, 0.9);
    }

    a:not(.booking-link):not(.tg-btn) {
        color: $red;
    }
}

.main-content {
    margin-bottom: 60px;
}
