// Mixins
// --------------------------------------------------------------
// stylelint-disable

// Set some responsive type base upon CSS
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
    & {
        @each $property in $properties {
            #{$property}: $min-value;
        }

        @media screen and (min-width: $min-vw) {
            @each $property in $properties {
                #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
            }
        }

        @media screen and (min-width: $max-vw) {
            @each $property in $properties {
                #{$property}: $max-value;
            }
        }
    }
}

// Page Title
// --------------------------------------------------------------
@mixin title($align: initial, $transform: none) {
    font-family: $font-header;
    font-weight: 700;
    text-align: $align;
    text-transform: $transform;

    span {
        color: $tathata-red;
    }
}

// Breakpoints
// --------------------------------------------------------------
@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    } @else {
        @warn "No value found for `#{$breakpoint}`. " + "Make sure it is defined in `$breakpoints` map.";
    }
}
