.login {
    padding: 5px;
}

.login p.error {
    background-color: rgb(255, 235, 232);
    border: 1px solid rgb(204, 0, 0);
    color: rgb(51, 51, 51);
    padding: 5px;
}

.login p.message {
    background-color: rgb(255, 255, 224);
    border: 1px solid rgb(230, 219, 85);
    color: rgb(51, 51, 51);
    padding: 5px;
}

.login form label {
    display: block;
}

.login form p.forgetmenot label {
    display: inline;
}

.login input {
    margin: 5px 0;
}

.profile .screen-reader-text, .profile .screen-reader-text span {
    height: 1px;
    left: -1000em;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.mu_register .hint {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.mu_register label.checkbox {
    display: inline;
}

#pass-strength-result {
    border: 1px solid;
    margin: 12px 5px 5px 1px;
    padding: 3px 5px;
    text-align: center;
    width: 200px;
}

#pass-strength-result.strong, #pass-strength-result.short {
    font-weight: bold;
}

#pass-strength-result {
    background-color: rgb(238, 238, 238);
    border-color: rgb(221, 221, 221) !important;
}

#pass-strength-result.bad {
    background-color: rgb(255, 183, 140);
    border-color: rgb(255, 133, 60) !important;
}

#pass-strength-result.good {
    background-color: rgb(255, 236, 139);
    border-color: rgb(255, 204, 0) !important;
}

#pass-strength-result.short {
    background-color: rgb(255, 160, 160);
    border-color: rgb(240, 64, 64) !important;
}

#pass-strength-result.strong {
    background-color: rgb(195, 255, 136);
    border-color: rgb(141, 255, 28) !important;
}

ul.tml-action-links li:first-child {
    display: none !important;
}
